[2016-02-28 03:21] lite20 commented on #80
@piranna Oh, I haven't got the invite yet. Let me check again. (I'm very honoured, by the way)

[2016-02-28 06:00] #175 closed

[2016-02-28 06:01] #167 closed

[2016-02-28 06:02] lite20 commented on #163
2016 now! Did we make any progress with this? :P

[2016-02-28 06:03] lite20 commented on #166
Maybe this should be mentioned in the wiki or on the ReadMe?

[2016-02-28 06:10] lite20 commented on #193
When entering "?" on the QEMU build it simply bugs that the input is invalid, and prompts you to log back in again and continues as normal. Since docker is no longer supported and this issue isn't occurring I'm closing this thread.

[2016-02-28 06:10] #193 closed

[2016-02-28 10:11] piranna commented on #163
Nopes :-) AFAIK the needed changes on libuv (be able to get a list of all the network interfaces, not only the ones with an IP address) are not already merged, and when it will be done, it will be included in a high-edge version of Node.js. Taking in account that we are still forced to use Node.js 0.11.14, there will be a long time until this get to be implemented, if any... :-( Another option wou

[2016-02-28 10:13] piranna commented on #80
And here you go :-)

[2016-02-28 12:11] piranna commented on #187
The usage of a [standalone C init](https://github.com/NodeOS/NodeOS/issues/190) has not fixed it, so it's not a matter of Node.js being executed as `PID 1` and needs to be searched the problem in other place :-( Maybe Node.js now needs some info from `/dev` or `/proc` and that's the reason it enter an infinite loop... Don't know. Only thing I can think is that since this also happen when trying to

[2016-02-28 12:24] piranna commented on #166
Done in readme file ;-)

[2016-02-28 12:24] #166 closed

[2016-02-28 17:46] luii commented on #212
Getting the same error but after reentering the same command
its skips the first part

[code]

[2016-02-28 18:00] Coretool commented on #212
@luii  @piranna @lite20 The preinstall script also fails when trying to build the toolchain. I opened an [issue](http://www.github.com/nodeos/nodeos-cross-toolchain/issues) at the corresponding repo.

[2016-02-28 18:17] piranna commented on #212
The pull-request of @lite20 would fix it.

[2016-03-01 03:47] lite20 commented on #185
Closing for ended conversation.

[2016-03-01 03:47] #185 closed

[2016-03-01 03:53] lite20 opened #215 "App Rendering Protocol (ARP)"
So after closing the original thread where the idea was designed, we know are that much closer to our graphic systems. With remote renderers complete and local one's in the works, one question still remains.

"So how do I make a window?"

Whether we treat the content of a window as a page, a canvas, or whatnot, the actual process to create this, and interface to work with it needs to be standard f

[2016-03-01 03:54] lite20 commented on #215
I meant to say, it needs to be standardized for it to work across NodeOS window managers. As not all managers may chose to run apps fullscreen, they need to be asked first and interacted with when an app works with a window.

[2016-03-01 05:59] Coretool commented on #215
I think we should make the apps working no matter what window manager (I'll use WD because it's faster) with something like a manifest.json.

[2016-03-01 06:08] Coretool commented on #215
And don't forget that apps which do not run on a Desktop will always be rendered as full screen apps, since the framebuffer size will be set to full screen...

[2016-03-01 07:08] piranna commented on #215
Isn't this fixed with the URLs design I proposed to launch GUI apps backend
servers? Or are you talking about a common protocol for the desktop
environments to interact with the window manager (maximize, minimize,
close...)? If so, the important part is to have a common API that all apps
could agree, and for this se could write a library that overwrite the
current methods for the browser Window ob

[2016-03-01 07:09] piranna commented on #215
In other words: KISS (Keep It Simple, Stupid) and DRY (Don't Repeat
Yourself) rules ;-)
El 1/3/2016 8:08 AM, "piranna@gmail.com" <piranna@gmail.com> escribió:

[2016-03-01 22:33] lite20 commented on #215
Yes because of this the "window size" params would only be preferences.

environments to interact with the window manager (maximize, minimize,
close...)?

I would assume the window manager would be a part of the desktop environment and that the developer of the desktop environment should ensure the two are compatible. By a rendering protocol I mean, say I'm an app. How do I make a window to show m

[2016-03-01 23:06] piranna commented on #215
I'm not sure if there's already support for this on HTML/Javascript or only as a parameter when calling [window.open()](https://developer.mozilla.org/en-US/docs/Web/API/Window/open)... If so we should use it instead of invent our own mechanism.

I agree.

Simple: use `window.open()` :-)

* Running full-screen without a desktop manager? The browser native method will be used.
* Running inside a HTM

[2016-03-01 23:16] zodern commented on #215
In Silk I am working on a new app framework which is compatible with [electron](http://electron.atom.io/). [Stretto](https://github.com/benkaiser/stretto) works with the new framework.

It requires nodeIntegration to be disabled in all windows and will not support preloading files. I have only found a couple electron apps that meets those requirements. But all apps made for Silk will run on Window

[2016-03-01 23:22] piranna commented on #215
`nodeIntegration` is what makes possible to access Node.js APIs directly from the HTML/client side code, isn't it? +1 to require it to be disabled, makes it more difficult to program but the architecture is more elegant and flexible.

[2016-03-02 00:04] lite20 commented on #215
By using window.open we actually break compatibility with existing browsers. Since window.open() exists already, when called in a browser it would create an additional window even though the code is already being run in one where as on node it doesn't have one. We also can't immediately create a window when imported into the module (required) if it's a module that is, because the app may not want

[2016-03-02 00:09] lite20 commented on #215
The proposal solution is to implement both functions. One function would be used only at start to create the initial window browsers would already have. If called in a browser this would throw an error. However, developers can use a simple pollyfill to solve. If the function name was buildFrame then
`if(window.buildFrame) {
    window.buildFrame("window", 720, 480);
}`

quick and easy fix!

[2016-03-02 00:12] lite20 commented on #215
If you chose to support nodeOS, you could easily just import said 'window' module and expand it to your users. I'm reserving the npm name 'frame' for it.

[2016-03-02 00:24] piranna commented on #215
I understand your concerns, but you are taking a bad point of view: we are writting a Windows Manager using HTML `iframes` as containers to host the GUI apps "windows" content. The point is, you are missing that fact that each one of these `iframe`s has **its own** `window` object, and independent from the browser "main frame" one (the Desktop Environment / WIndow Manager). Taking this in account,

[2016-03-02 00:29] piranna commented on #215
Well... here we have something that could be discussed, what protocol to follow in this `postMessage()` based communication, this way the injected code to overwrite the behaviour of the `window` object on the `iframes` would be common and the diferent Windows Manager only would need to listen for this messages and process them :-) The most simple and minimal solution here is to use a 1:1 mapping f

[2016-03-02 22:55] lite20 commented on #215
Ah. I haven't worked much with JSON-RPC so I wouldn't be to useful here.

Ah okay, that makes a lot more sense

[2016-03-02 22:58] piranna commented on #215
I'm happy you now got it ;-)

[2016-03-02 23:11] lite20 commented on #215
Okay so in that case, it's the job of the window manager to inject the code into the iframe. No module needed. Additionally, since we only implement a different way for window.open to work, and the injected code speaks back to it's window manager which was the platform that injected it in the first place, the interface between the inject and the manager also don't need to be standardized.

So only

[2016-03-03 00:11] piranna opened #216 "Not a toy OS anymore"
With the [release of the release candidate](https://github.com/NodeOS/NodeOS/issues/181) it would seems that this repository has been somewhat quiet, but the fact is that there has been a lot of progress lately on other areas of NodeOS (and I'm not talking only about the new 700 stargazers or the repercussion on Twitter of the project and the publication of several [articles on Internet](https://w

[2016-03-03 00:32] lite20 commented on #216
YEAAAH! Freedom! I've been waiting for this day for so long. Looking back on all the investigation and testing we've done, I've only been here for a short while but it's been energizing. Looking forward to the future of the project!

Long live Node! Long live JS!

[2016-03-03 00:34] lite20 commented on #216
So those were the commits you wanted to make first! I'll go ahead and make the adjustments and update that PR. I've taken the npm name 'qemu' for the package.

[2016-03-03 00:36] piranna commented on #216
Yes, that's it! :-D I wanted to publish this first since you were removing QEmu from the build process and I wanted to have *something working* without having risking experiments on it. Now we can safely remove it and work on create the new `qemu` npm package :-)

[2016-03-03 01:12] piranna commented on #215
Yes, that's it :-) Problem seems to be `iframes` has a lot of limitations on browsers mainly for security issues (for example is not possible to access the content of `iframes` of a diferent domain, nor some pages like Google or Facebook can be viewed from inside `iframes`) but also seems there's no way on Javascript to know when an `iframe` is going to change a page until it has fully loaded... :

[2016-03-03 01:24] lite20 commented on #215
I'm not sure if you were aware but I've been working on a web browser. My cousin has contributed a bit, and @Coretool is in on the project. Should we run in with too many issues, eventually it may serve to be a nice alternative to content_frame or whatever other systems we attempt to implement as we'd have a complete understanding of the under working system.

Iframes do have issues. I'm experimen

[2016-03-03 01:25] lite20 commented on #215
It's called Ryutai and I just threw it on NPM to experiment on NodeOS. It's dependencies currently surpass what NodeOS's default ram provides but I believe I have un-needed dependencies and so I'm looking through to clean them up so it'll work.

[2016-03-03 05:51] Coretool commented on #216
Yeah ! You/We/Who ever did it ! ;-)

[2016-03-03 05:54] Coretool commented on #215
@lite20 You may want to have a look at electron (aka atom-shell) They have got a 'web view' tag. It's basically an iframe with some extras... (I don't have a link, but it's on GitHub...)

[2016-03-03 10:19] piranna commented on #187
Incledible, but fixed in master :-) Clossing :-D

[2016-03-03 10:19] #187 closed

[2016-03-03 10:20] piranna commented on #169
Fixed in master using Node.js 4.3.1, clossing. Thank you for opening the path @heavyk :-)

[2016-03-03 10:22] Marak commented on #216
Can someone please update the docker image so we can see that least version by running:

[code]

:-)

[2016-03-03 10:22] piranna commented on #157
@tylerl0706, I suppose we can close this, isn't it?

[2016-03-03 10:24] piranna commented on #135
This is partially done by using the `download-manager` module since some dependencies don't have available a md5 hash, so I'll close it.

[2016-03-03 10:24] #135 closed

[2016-03-03 10:29] piranna commented on #216
I could give it a try, but the fact is that I think Docker still don't support OverlayFS and FUSE filesystems inside containers, so since they are a fundamental part of NodeOS probably you would only be able to check out `barebones` and maybe `initramfs` layers on Docker instead of a full-fledged system... I would recommend you to generate yourself a QEmu image (at least until we got them working

[2016-03-03 10:31] piranna commented on #216
Yeah, all of you have helped me a lot, a sincere thank you :-) If it's not because you have been there, probably a long time ago I would have give it up and start working on another thing :-P

[2016-03-03 11:49] Marak opened #217 "nsh crashes on empty pipe"
Scenario: Entering an empty `|` operator crashes on latest docker image.

Run:

[code]

Then once you get the nsh prompt, entering the following command yields the following error:

[code]

[2016-03-03 14:31] formula1 commented on #216
That was an exciting read :)

[2016-03-03 14:55] piranna commented on #216
I'm happy you liked it :-)

[2016-03-03 16:08] tylerl0706 commented on #157
Yeah that sounds good. :)

[2016-03-03 16:23] looterz commented on #216
Congrats! excited to see all the progress NodeOS is making.

[2016-03-03 17:34] piranna commented on #157
Then let's close it :-) Maybe we'll review in the future how to build it on OSX, but that's another issue :-)

[2016-03-03 17:34] #157 closed

[2016-03-03 17:35] #169 closed

[2016-03-03 20:38] Coretool commented on #217
Can't you guys just stop writing '?' and co into that console ? That would make everything much easier ^^

[2016-03-03 20:43] Marak commented on #217
What's up @Coretool?

I don't understand your response?

[2016-03-03 20:57] piranna commented on #217
Docker images are outdated. Seems now Docker allow to use FUSE and mount
external filesystems if you enable some capabilities on the container. We
are volunteers that work on NodeOS on our free time so our resources are
very limited, any help on this area or any other and pull-requests are
greatly welcome.
El 3/3/2016 21:43, "Marak" <notifications@github.com> escribió:

[2016-03-03 21:03] Marak commented on #217
I work on many open-source projects full-time. I understand your pain.

More specifically to docker related issues, I had to spend 30+ hours this year configuring the docker setup for my project: https://github.com/bigcompany/hook.io

We aren't using docker anywhere in production, I put the images together to help lower the entry barrier for other developers to hack on the project.

What is my poi

[2016-03-03 21:29] piranna commented on #217
Lucky you are :-) I try to get open-source friendly jobs too (Spain is too much prehistoric on this point due to we have plenty of "employersaurs" here... :-( ).

I'm not a Docker expert at all, and in fact I moved to [vagga](https://github.com/tailhook/vagga) since uses user containers that make them easier to use and more secure by not needing administrator permissions (you should really take it

[2016-03-03 21:31] Marak commented on #217
@piranna -

I will review the installation documentation tonight and attempt to build with QEmu instance.

Will let you know if / when I get stuck.

Cheers.

[2016-03-03 21:36] piranna commented on #217
You are welcome :-) Keep us informed of your progress ;-)

[2016-03-03 23:50] lite20 commented on #217
I do have a bit of docker experience, and by a bit I mean I wrote an entire engine using it for the place I currently work. So if you need a hand, just pop me questions. I've been really busy lately looking over the build process trying to clean it up and slim it down while documenting as much as possible so I won't be able to carry the effort for you but I can definitely kick in where your bandwi

[2016-03-03 23:53] lite20 commented on #215
@Coretool I know electron :P I didn't know it had said web view though. I'll look into it!

[2016-03-04 00:43] piranna commented on #215
Problem is not to work on our own web browser where we could do whatever we wants, point is to be able to use regular web browsers on normal PCs or mobile phones as terminals, that's the tricky part and the reason why I was encouraging so much to follow standard technologies and make the GUI based on HTML5...

It could be an option similar to the `browser` tag on FirefoxOS, but I'm not sure if Ele

[2016-03-04 00:48] lite20 commented on #215
@piranna Velocity, the name of the browser, will be released on all platforms (excluding IOS on debut) so at some point it will be a "regular web browser" for "normal PCs" :D.

The goal was simply to create a browser implementing new features as they came. Being easy to understand and modify anyone could embed it in whatever their projects may be

[2016-03-04 01:01] piranna commented on #215
By "regular web browser" I means that users don't need to install anything to connect to a NodeOS server remotely and start a GUI session. Anyway, your project seems insteresting... :-)

[2016-03-04 01:26] lite20 commented on #215
@piranna ahh okay.

https://bitbucket.org/Lite20/velocity

Here's the project. It's just a baby but there it is :)
More progress is on the beta branch. Right now I've implemented the shell in Java for easy portability but I may switch to c/c++ at some point experimentally.

[2016-03-04 01:27] lite20 commented on #215
most of the browsers runtime occurs inside V8. The browser itself is coded in js, however the Java shell extends v8's native features adding more functionality for the browser, and inturn webpages to harness. (also lets the js create a window and render to it)

[2016-03-04 01:27] lite20 commented on #215
Correction, alpha branch. Alpha is however untested

[2016-03-04 05:44] Coretool commented on #215
@piranna I've looked into building electron and I don't think that it would be easy to make it render to the linuxfb...

[2016-03-04 16:36] piranna commented on #215
Sh*t... :-(

[2016-03-05 08:01] lite20 commented on #215
@Coretool Yeah... no. XD have fun with that. It's modified CEF impements x11 on linux (maybe support wayland) but the struggle it would take to implement it for the fb is real.

What other options do we have?

[2016-03-05 08:33] Coretool commented on #215
Just stick with noGui (or start with it ^^) and iframes ^^

[2016-03-05 09:37] piranna commented on #215
Good idea, let's get something working and later we'll move on.
El 5/3/2016 9:33, "John Green" <notifications@github.com> escribió:

[2016-03-05 12:58] piranna commented on #216
And... well, we have just been published on [Barrapunto](http://softlibre.barrapunto.com/softlibre/16/03/05/1116259.shtml), spanish version of Slashdot and the most important tech news site ^^

[2016-03-06 03:30] lite20 commented on #216
Duuude! Fantastic!

[2016-03-06 03:35] lite20 commented on #215
@piranna @Coretool sounds good. Awaiting a working noGui build. Let me know if you guys get anywhere!

[2016-03-06 04:52] junland commented on #215
Congrats! Hope to see more down the pipeline! :)

[2016-03-06 09:12] nooitaf commented on #216
\o/

[2016-03-06 09:57] piranna commented on #215
know if you guys get anywhere!

Could someone take a look on the docs how to give an URL to QtWebkit, at
least a hardcoded one? I only get a blank page (the same as @formula1 with
its experiment with webkit.js...).

[2016-03-06 11:10] Coretool commented on #215
@piranna Take a look at noGui. (main.cc) It does that ^^

[2016-03-06 11:29] piranna commented on #215
Lol :-P Yes, you're right. We need more error checking there, since at this moment it hides the console output and gets control of the keyboard and only way is to swith off the machine, that's tedious to test...

[2016-03-06 11:32] Coretool commented on #215
Yeah... I've to add the keyboard shortcuts and so on.

[2016-03-06 17:24] formula1 commented on #215
http://doc.qt.io/qt-5/qwebview.html#load

Is this the method you're looking for?

I'm going to checkout breifly how embeddable servo is. They recently (I think last week) showed an intense proof of concept that rendered Rediculous things at > 60 fps. They acheived this through offloading most of the work to the GPU (so GPU-less machines may still be in trouble) but they are really doing great stuf

[2016-03-06 17:56] Coretool commented on #215
@formula1 Yes, it's this method.

[2016-03-06 21:20] piranna commented on #215
think last week) showed an intense proof of concept that rendered
Rediculous things at > 60 fps. They acheived this through offloading most
of the work to the GPU (so GPU-less machines may still be in trouble) but
they are really doing great stuff over there. I really wouldn't be too
suprised if a rust javascript engine becomes standard over time.

It would be good to have several rendering engine

[2016-03-07 05:42] lite20 commented on #216
@nooitaf I agree :stuck_out_tongue:

[2016-03-07 05:46] lite20 commented on #215
I'm now contending with the struggle of designing and constructing my own mostly taking inspiration from Blink. Hopefully I'll be able to give more insight on possible solutions with my greater understanding of web engines when I'm done this project (Velocity)

[2016-03-07 06:12] Coretool commented on #215
@piranna I think I have to add some logging to noGui, it doesn't throw errors at all :/ ... I know that the 'normal' desktop version works but I've really no plan, why the static one doesn't... Enabling X11 would be great for testing and maybe a first release since it would make the qt stuff far easier (querying the display size, setting the view size etc ... even if I'm not sure if this would sti

[2016-03-08 02:03] timmbrooks opened #218 "Where does node_modules/nodeos-barebones/node_modules go during build?"
IDK what is going on:

[code]
Any clues?

[2016-03-08 04:29] piranna commented on #218
Npm 3 is not supported, downgrade to npm 2 or use Node.js 4.x. This is a known bug due to npm 2 plain dependencies, hope when nodeos-crosstools is an independent module this gets fixed. Any help here is welcome.

[2016-03-14 19:52] Nepoxx opened #219 "Node-os.com's "read more" button is broken"
It points to this page: http://node-os.com/blog/get-involved/ which returns a 404.

[2016-03-14 20:20] aulvi commented on #219
Removing the trailing slash seems to fix it.

[2016-03-20 13:21] tylerl0706 commented on #67
@piranna mind if I PM you? What's you're preferred method?

[2016-03-20 14:13] piranna commented on #67
You can send an email.

[2016-03-22 20:50] luii opened #220 "Build NodeOS from Source"
Hey,
i just want to ask if there is a way to build NodeOS, because the build process on the Readme seems a bit outdated(?) And which OS do i need for the build process?

[2016-03-22 21:03] piranna commented on #220
Why do you think it's outdated? What steps are you following?

[2016-03-23 21:05] luii commented on #220
I followed the steps in the main Readme but everytime i try to build it i get the errors described in #212.
But it seems that you've build it on Ubuntu. So my question is how to build it successfully because i want to create software for nodeos :D

[2016-03-23 21:17] piranna commented on #220
There could be something odd with your computer, since I've recently compiled NodeOS from scratch on a fresh install of Ubuntu 16.04... It's true that there are problems on the server and that build process it's too much heavy weight, but I'm not able to replicate them :-( What system are you using for?

If you are interested in create software for NodeOS you could do it just for Linux and when it

[2016-03-24 19:50] luii commented on #220
I used Ubuntu 15.10 for the compilation, and then switched to Arch but no success.

[2016-03-24 20:05] Coretool commented on #220
Aw... arch isn't optimal for that... I'm a big arch fan, it's my main os, but since it's a rolling release os and always on the newest versions... NodeOs and bleeding edge versions  aren't big friends (what I can tell from my expremintes with it)

[2016-03-25 08:35] piranna commented on #220
I don't think it's a problem of rolling release but instead of lack of libs
and components that need to be installed by hand. @SpaceManSpiff had
similar problems in the past about this.
El 24/3/2016 21:06, "John Green" <notifications@github.com> escribió:

[2016-03-28 18:39] shubhamkumar13 opened #221 "npm/npkg both show --> [Error: UNABLE_TO_VERIFY_LEAF_SIGNATURE]"
`/ # npkg install bin-ncurl
npm http GET http://linux-x86.node-os.com/bin-ncurl
npm http GET http://linux-x86.node-os.com/bin-ncurl
npm http GET http://linux-x86.node-os.com/bin-ncurl
[Error: UNABLE_TO_VERIFY_LEAF_SIGNATURE]
/ # npm install bin-ncurl
npm http GET http://linux-x86.node-os.com/bin-ncurl
npm http GET http://linux-x86.node-os.com/bin-ncurl
npm http GET http://linux-x86.node-os.com/bin

[2016-04-06 17:56] luii commented on #220
This issue can be closed because i've successfully compiled NodeOS from Source on Arch Linux x86_64!
[code]
I create a new Pull request if i have updated the docs for that and provide the prebuilt binaries for Arch Linux x86_64 and x86 (32bit)!

[2016-04-06 18:07] lite20 commented on #220
Oh that's awesome! I've began creating a list of events that occur in the
NodeOS build process to hopefully design a pull-and-pack build script for a
continual build server.

Many of us are pitching in to make a better build process so hopefully we
make headway on that soon
On Apr 6, 2016 11:56 AM, "Philipp" <notifications@github.com> wrote:

[2016-04-06 18:07] piranna commented on #220
Source on Arch Linux x86_64!

provide the prebuilt binaries for Arch Linux x86_64 and x86 (32bit)!

That's cool! :-D I'll left this issue open until we got merged your
pull-request :-)

[2016-04-06 18:12] piranna commented on #220
a

Could you be able to explain this a bit? Sounds interesting :-)

Then wait for the blog post I'll write tonight... ;-)

[2016-04-06 18:14] luii commented on #220
Ive managed to build Arch but dont know how to pack it into a binary like @piranna did on his build today in the zip

[2016-04-06 18:22] piranna commented on #220
@piranna did on his build today in the zip

Spoiler!!! :-P

That builds *should* be autogenerated by the CI server, but somehow it got
broken by several issues. I think I was able to fix them or find some hacky
workarounds, but they should work from now on. The prebuilds uploaded today
were build and uploaded by hand with scripts/BigRedButton and
scripts/publish, but they should be OS agnostic sin

[2016-04-06 22:28] lite20 commented on #220
I'm basically extracting the list of commands/steps from the build process
and writing them down, then re creating the build scripts. I'm doing that
to create a custom CI server for me to use with NodeOS that will pull from
the branches I instruct, and compile over and over again (every time
someone makes a change). Then it packages them.

I'm creating it for said phone I'm working on. The beta te

[2016-04-06 22:39] piranna commented on #220
Sound interesting what you said. Have you taken a look at [GreenKeeper](https://greenkeeper.io)? I would like to use it on NodeOS, but would be a tough work to add 100% coverage tests on all the projects... :-/

[2016-04-06 22:47] lite20 commented on #220
Ah yes I've seen it and I'm looking to integrate with it. If not I'd write
my own simpler engine to do so.

And yes, 100% test coverage is difficult. Writing ingenuous tests to test
everything is difficult. Often tests are created along side the software
but we don't have that option any more. I'm still working to add tests to
the JS modules and will continue when I have more free time but right n

[2016-04-07 05:24] lite20 commented on #221
Disable SSL checks then re-enable it after. Proxies often cause this.

Disable: `npm config set strict-ssl false`

Enable: `npm config set strict-ssl true`

Reference: http://stackoverflow.com/a/21385322

[2016-04-07 05:25] lite20 commented on #221
Ah wait is this from within NodeOS? Use npm directly not npkg. See if you get any farther

[2016-04-07 07:37] piranna commented on #220
I'm thinking about writting a tool to recursively ask to Coveralls and npm for the coverture stats of all the project dependencies and show them as a tree so we could later work on improve them, but both things will be a tough work :-P

[2016-04-08 05:08] luii opened #222 "Wiki Localization"
Hey,
if its ok i would translate the entire wiki into german.

[2016-04-08 06:08] lite20 commented on #220
Haha good idea! If you get it going let me know!

[2016-04-08 09:58] luii opened #223 "NodeOS boot"
Is it normal that nodeos boots into a REPL? Because i cant use commands like ls, mkdir, etc?

[2016-04-08 10:35] piranna commented on #223
How have you started NodeOS? Is there any error on the console? What says the prompt?

[2016-04-08 11:07] luii commented on #223
I started  NodeOS with `npm start` and the prompt dont throws any error

[2016-04-08 13:30] lite20 commented on #222
Yes of course! I could help a little bit too. My German isn't 100% but it
could always be revised :D

Now that I think about it, I could do a French translation too as I'm
fluent in French.

I guess just make mirror of the current wiki but in German, and I'll have
the landing page be multilingual. Thanks for the contribution!
On Apr 7, 2016 11:09 PM, "Philipp" <notifications@github.com> wrote:

[2016-04-08 15:01] piranna commented on #223
What's the output of the prompt? Could you send a screenshoot or a picture?

[2016-04-08 15:35] piranna commented on #220
Yeah, but I don't have time! :-P

[2016-04-08 15:39] lite20 commented on #223
So barebones loaded, but not the user space. Maybe it didn't mount the filesystem?

What environment are you running this in? QEMU? Bare metal?

[2016-04-08 15:48] luii commented on #223
im running this inside QEMU using just the command `npm start`

Unfortunatly i cant scroll up...
![nodeos](https://cloud.githubusercontent.com/assets/8077014/14389216/e5e5a73c-fdb1-11e5-9033-14c7877d4b2b.png)

And that is the output from my console on arch:
[code]

[2016-04-08 15:50] lite20 commented on #220
D: I'd offer to help but I'm a bit tied with completing other projects, and stuff for work.

[2016-04-08 15:50] piranna commented on #223
Have you compiled the image yourself, or have you used one of the prebuilds ones?

[2016-04-08 15:51] piranna commented on #220
Me too :-(

[2016-04-08 15:51] luii commented on #223
I compiled the image myself

[2016-04-08 15:53] piranna commented on #223
Did you get any error during build process? Could you be able to exec `tree out` to know what files were generated?

[2016-04-08 15:56] luii commented on #223
nope i think its only a temp folder with only the barebones when im starting up

[2016-04-08 16:01] luii commented on #223
Ive tried the prebuilts and it works

[2016-04-08 16:25] piranna commented on #223
This are good news :-) Maybe there was a problem with the build proccess, try to exec `npm install` to build it again.

[2016-04-08 19:00] luii commented on #223
@piranna recompiled the source and got this:
![nodeos](https://cloud.githubusercontent.com/assets/8077014/14394520/f1052d0c-fdcc-11e5-805d-dba348aa7c3f.png)

[2016-04-08 19:51] piranna commented on #177
Fixed in master, clossing.

[2016-04-08 19:51] #177 closed

[2016-04-08 20:05] piranna opened #224 "Prebuilds, again"
In the last weeks it could seems there have been too few movement in the project due to several reasons: NodeOS core is stabilized after the [RC1](https://github.com/NodeOS/NodeOS/issues/181), and both me and other members of the project we have been busy with work and classes (I hope to read my thesis in May! :-D ). At the end, we are working on NodeOS on our spare time and we have some real-life

[2016-04-09 09:39] piranna commented on #223
It's the first time I see that error, but seems to be some incompatibility on fuse-bindings and the version of Node.js being used. Try executing `npm run unbuild` to clean all the products and dependencies and `npm install` to download and build them again.

[2016-04-09 10:26] piranna commented on #222
While you are on it, if you both could review and update the info on the wiki it would be great :-D

[2016-04-09 10:29] luii commented on #222
Sure, yesterday i cloned the wiki to my local machine and update some stuff.
One Question: Is it possible to push the wiki to the master branch of the repo?

[2016-04-09 11:05] piranna commented on #222
What do you mean? GitHub wikis has their own (hidden) git repo, that's the same name of the main project but ending in '.wiki'

https://help.github.com/articles/adding-and-editing-wiki-pages-locally/

Are you talking about this, or about moving the wiki to the `docs` folder of the project?

[2016-04-09 12:29] luii commented on #222
Basicly i mean that im rewriting the docs at the moment and when im done i want to push them to the wiki, do i need the permission for this or can anybody push to it.

[2016-04-09 13:02] luii commented on #223
I've rebuild the package, but everytime i get the error showed above.
I researched for this error on google and it mostly says that precompiled binarys like `fuse-bindings`
are compiled with 5.x.x or higher and the `nodeos-barebones` are compiled with 4.x.x.
It seems that we need to use a older version of fuse-bindings on nodeos.

[2016-04-09 13:48] luii commented on #222
I have no permission to push to the wiki :-(

[2016-04-09 19:09] piranna commented on #222
i want to push them to the wiki, do i need the permission for this or can
anybody push to it.

As far as I know, anyone can publish on the wiki.

[2016-04-09 19:11] luii commented on #222
Ok like i said i cloned the wiki to my local machine and i want to push to the wiki but i get a 403 Permission denied

[2016-04-09 19:12] luii commented on #222
Maybe you can add me as a member of nodeos

[2016-04-09 19:52] piranna commented on #222
How did you cloned the wiki and how are you doing the push?

[2016-04-09 19:58] piranna commented on #223
What version of Node.js do you have on your system? Seems `fuse-bindings` got compiled using Node.js 5.x.x and NodeOS is currently using 4.x.x, would it be possible? And what version of NodeOS are you compiling, have you downloaded it recently?

If you are using Node.js 5.x.x and NodeOS `package.json` is using `nodeos-cross-toolchain` module then it would be good news, since it would means it now

[2016-04-09 20:00] lite20 commented on #222
If I recall correctly, wiki's are just repositories so they can be cloned.
I also could alter it's content without being a member of the repo so maybe
anyone can push too.
On Apr 9, 2016 1:52 PM, "Jesús Leganés Combarro" <notifications@github.com>
wrote:

[2016-04-09 20:11] lite20 commented on #222
I already did update most of it :)

I decided I'd be a wiki maintainer since I like to type so I've been
keeping it fairly up to date :P. I just need to write about the logon
On Apr 9, 2016 4:27 AM, "Jesús Leganés Combarro" <notifications@github.com>
wrote:

[2016-04-09 20:36] luii commented on #222
@piranna i cloned by the link that is displayed on the wiki page under the sidebar
and then it gives me a folder called NodeOS.wiki with a .git inside the rest is just git add, comit and push nothing more but like i said above i get a 403

@lite20 currently im updating it make it more user friendly and rearrange some Pages for more readability

[2016-04-09 20:55] luii commented on #223
@piranna my main node version is 4.3.1, im also using nvm for better testing and stuff :D
with node 5.x on nvm or with the node fish shell plugin (which includes node 5.10.1) i get the following error:
[code]

The main point is that the `barebone`, `initramfs` and `userfs` not creating the files in the `/out` folder

[2016-04-09 23:24] lite20 commented on #222
Yeah go for it! I don't mind.

[2016-04-09 23:25] lite20 commented on #222
@luii Email me the next time you're ready to push and I'll see what we can do.

[2016-04-10 00:14] piranna commented on #223
That's the problem, you are using Node.js 5.x, use 4.x instead without nvm,
it should work now.
El 9/4/2016 10:55 PM, "Philipp" <notifications@github.com> escribió:

[2016-04-10 07:06] luii commented on #223
Ok but then again i get the version module mismatch

[2016-04-10 07:54] dodekaeder opened #225 "I've tried to use the '3stp install'"
Hey,
I'm running a fresh trusty vagrant box and would like to install nodeOS.

After I successfully run the dependencies script and the "npm install" runs
for a long time (throwing no errors) I tried to do "npm start", but a error appears:

[code]

[2016-04-10 08:17] luii commented on #217
This problem is still exists in the newer NodeOS build.
If you time `|` into nsh you get following error and you get logged out
![nodeos](https://cloud.githubusercontent.com/assets/8077014/14408852/61fbc064-ff05-11e5-898f-4f3751e1f2c0.png)

[2016-04-10 08:49] luii commented on #225
Are there any files in your `out/latest` folder, like `barebones` or `userfs` ?

[2016-04-10 09:34] dodekaeder commented on #225
there isn't any folder like this.

When I follow this 3 step guide first thing is that there isn't any rep at git@github.com:NodeOS/NodeOS.git. So I cloned https://github.com/NodeOS/NodeOS.git.

After this I get

[code]
Then i run npm install which ends with just a little output:

[code]
Then I try to start it with "npm start" running into the problem allready described...

[2016-04-10 10:04] luii commented on #225
Have you set `PLATFORM=vagga npm install` when running this command?

[2016-04-10 10:14] luii commented on #225
The `npm start` command only starts nodeos on qemu not vagga

[2016-04-10 10:19] dodekaeder commented on #225
no I didn't. thx so far...

[2016-04-10 10:29] dodekaeder commented on #225
so after `PLATFORM=vagga npm install` it sould start on vagga with `npm start!?`

[2016-04-10 10:31] piranna commented on #225
Vagga and vagrant are not the same thing, and in fact vagrant is not
tested...
El 10/4/2016 12:19 PM, "dodekaeder" <notifications@github.com> escribió:

[2016-04-10 10:36] dodekaeder commented on #225
got this! I thought a running Linux environment should make a good start...so I decided to build up on a vagrant box.

[2016-04-10 10:39] dodekaeder commented on #225
But ended soon with

[code]

So if I get it right. I shouldn't use vagrant and use my n

[2016-04-10 10:42] dodekaeder commented on #225
Am I right remembering you recommend "google cloud" as a working platform.

[2016-04-10 11:05] piranna commented on #225
No, just exec `vagga` on the project directory, but you need to install it first. Anyway both vagga and docker don't fully work due to lack of support for OverlayFS and FUSE, but at least `barebones` layer should work.

As build environment? Didn't tested it, but should work... anyway I got it to build on a VirtualBox with Ubuntu, but testing it later is f*cking slow because QEmu is not able to us

[2016-04-10 11:10] piranna commented on #217
`nsh` has not yet been updated on NodeOS images, I have got [some cool progresses](https://github.com/piranna/nsh) but I'm stuck with a [Node.js bug](https://github.com/nodejs/node/issues/5574), help is greatly considered.

[2016-04-10 11:11] piranna commented on #223
It's strange... Did you clean the repo and compiled from scratch with 4.x?

[2016-04-10 11:13] luii commented on #222
@lite20 can i become a member of nodeos?

[2016-04-10 11:15] piranna commented on #222
Done.

[2016-04-10 11:18] luii commented on #223
yes, just fresh cloned it and compiled it but still i get this error

[2016-04-10 11:21] piranna commented on #223
Sh*t, then I don't know what could be happening here, sorry :-(

[2016-04-10 12:10] dodekaeder commented on #225
so.. the best way to see it working, is to run a prebuild in qemu?!

[2016-04-10 12:14] luii commented on #222
@lite20 how can i email you, there is no email on your profile

[2016-04-10 12:18] piranna commented on #225
It's the easiest one, yes. Other alternative is to build it from a Ubuntu environment, both running natively or from inside a virtual machine.

[2016-04-10 14:31] lite20 commented on #222
Oh you couldn't push? Create a fork?
On Apr 9, 2016 2:00 PM, "Lite McFish" <lite260@gmail.com> wrote:

[2016-04-10 14:31] lite20 commented on #223
Is npm3 a good thing or a bad thing?
On Apr 9, 2016 1:59 PM, "Jesús Leganés Combarro" <notifications@github.com>
wrote:

[2016-04-10 14:37] piranna commented on #223
Definitely bad, we'll need to change several things in a backwards
incompatible way on the NodeOS build workflow to make it compatible with
npm 3 :-( Anyway it's the way to go, so we'll need to do it someday...

[2016-04-10 14:45] luii commented on #222
already pushed the changes to the wiki

[2016-04-10 16:12] lite20 commented on #223
npm, why you do this :'(

Version mismatch...what's the package.json request? It seems you keep
getting a version higher. Try altering the package.json just to see?

On Sun, Apr 10, 2016, 8:37 AM Jesús Leganés Combarro <
notifications@github.com> wrote:

[2016-04-10 17:39] luii commented on #223
If i understand the install procedure correctly then it shoud go like this:
[code]
but why does it not go like this?
For me it looks like it just skip the part

[code]

[2016-04-10 19:27] lite20 commented on #222
email on your profile

Oh that's weird I thought I added it. If anyone ever needs to reach me, you
can use lite260@gmail.com
On Apr 10, 2016 8:45 AM, "Philipp Czarnetzki" <notifications@github.com>
wrote:

[2016-04-10 19:40] luii commented on #222
Ok that good, if you dont like parts of the new docs please feel free to contact me

[2016-04-10 20:48] piranna commented on #223
You are right, for some reason the layers are not being procesed in the correct order. What version of npm are you using? npm 3 is not compatible...

[2016-04-10 21:04] piranna opened #226 "Include flash tool on prebuild images"
Add a script to correctly flash the ISO images on an USB drive. This could be as simple as just copy `bin/installUSB`.

[2016-04-11 03:42] luii commented on #223
for the error above im using npm 3
and for everything else im using npm 2.14.12

@piranna the commit yesterday was not intended, i thought i had them pushed to my forked repo but instead i the original nodeos fork, im so sorry

[2016-04-11 04:28] lite20 commented on #222
I'll take a look at them right now. :)

On Sun, Apr 10, 2016, 1:40 PM Philipp Czarnetzki <notifications@github.com>
wrote:

[2016-04-11 17:13] luii opened #227 ""Operation not permitted" on docker image"
Hey,

@piranna i managed to create a docker image by hand and got this error do think you can fix this or do you have a clue how to fix it?
The `nodeos-barebones` create a invalid tar file so i unpacked `barebones` and packed again with this command: `tar -cf barebones.tar bin/ dev/ lib/ sbin/ init | docker import - barebones`

[code]

[code]

The one with the "none" in it is the nodeos image

[2016-04-11 17:15] luii commented on #227
The build process on `barebones`, `ìnitramfs` and so on was quitly and gave me no error

[2016-04-11 18:16] piranna commented on #227
I found [a bug on tar-stream](https://github.com/mafintosh/tar-stream/issues/44) regarding to this some time ago, but no advance yet.

Good trick, maybe we can use it as a workaround until the bug gets fixed :-) Only problem would be related to files permissions... :-(

This error is due to NodeOS initram trying to create a `/etc/mtab` entry, that on Docker it makes sense that's already there. Tha

[2016-04-11 19:51] luii commented on #227
How do you mean this, does Docker creates a own `mtab` in the container?

[2016-04-11 19:56] piranna commented on #227
that on Docker it makes sense that's already there.

Yes, I think Docker has its own /etc/mtab and when nodeos-mount-filesystems
try to create the symlink then you get that error. In that case I think the
one of nodeos-mount-filesystems should be ignored.

[2016-04-12 06:21] lite20 opened #228 "A Cool Thought"
I just wanted to bring up something cool I was thinking about today. NodeOS and Android share as many similarities as British vs American English.

Both systems are based off the Linux kernel. Android actually just uses kernel modules for all hardware interaction and uses the JNI to interact. In the same way, NodeOS uses v8's bridge to the native interface to access kernel operations.

There are a

[2016-04-12 07:26] piranna commented on #228
I think I see your point, in fact I also see NodeOS at the same level as Android (Node.js/Linux instead of Dalvik/Linux or GNU/Linux), but there are some diferences, first of them I see more as a GUI-less ChromeOS or FirefoxOS instead. Regarding support of technology this is argueable, since we only depend on vanilla Linux kernel as a HAL layer while Android systems usually add some privative kern

[2016-04-12 16:15] luii commented on #227
@piranna i could rewrite it when there is a symlink to `mtab` on docker for example or on other virutal machines then it dont creates a symlink and just use `/proc/mounts` then i wouldnt need to swallow the exception

[2016-04-12 17:07] lite20 commented on #228
As for management, yes administrator mode would make sense seeing that
adding and removing kernel modules would quite literally be de- or
rehabilitating the system.
On Apr 12, 2016 8:34 AM, lite260@gmail.com wrote:

I actually wasn't aware that we weren't using them. I've been studying the
Linux kernel much as I need to write kernel modules for the phone I'm
developing.

Allowing users to use kern

[2016-04-12 17:07] lite20 commented on #228
I actually wasn't aware that we weren't using them. I've been studying the
Linux kernel much as I need to write kernel modules for the phone I'm
developing.

Allowing users to use kernel modules would allow users to easily add
support to new hardware. I could see a module being wrapped in an npm
module, and users could fetch it like so.

I don't see it essential, as servers probably wouldn't need

[2016-04-12 17:43] piranna commented on #227
Yes that's the point, just swallow rhe exception if destination exists,
otherwise throw it.
El 12/4/2016 18:15, "Philipp Czarnetzki" <notifications@github.com>
escribió:

[2016-04-13 17:33] piranna commented on #75
I've just developed [coverdeeps](https://github.com/piranna/coverdeeps), a small tool that check a module dependencies and give a global tests coverage percentage instead of just only the own module, because having reliable dependencies are as important (or more!) than the module itself. It still lacks a lot of features, only support modules published on npm registry (not local ones or published o

[2016-04-13 17:50] luii commented on #222
@lite20 how should i translate the file and where should i place them, in a seperate folder inside the `docs` folder in NodeOS?

[2016-04-13 17:53] piranna commented on #222
We have two options, have them in the wiki or move them to the `docs` folder in NodeOS source code. I vote for the second option and deprecate the wiki (I always forget it exists...).

[2016-04-13 18:25] luii commented on #222
I would place them in the `docs`, but keep the wiki and i can update it!
Any suggenstions on the folder structure for the `docs`?
I would use ISO 639-1 language codes for the folder names corresponding to the language they'll be translated into.

[code]

[2016-04-13 18:45] piranna commented on #222
I was going to propose to follow the schema used by GitBook for the multi-language books, but I think it's the same that you have proposed.

[2016-04-13 19:13] Coretool commented on #222
Do we have enough people who speak german and french ? I speak both... so I can help if needed ...

[2016-04-13 19:43] piranna commented on #222
I can be able only english and spanish.

[2016-04-13 19:46] luii commented on #222
I translate the current Wiki to german

[2016-04-13 20:11] Coretool commented on #222
I can do frech ...

[2016-04-14 15:19] luii commented on #222
@piranna Should we push directly to the Repo with [ci skip] in the commit or should we create a seperate repo (like: "nodeos-de") and link it with git submodule to this repo?

[2016-04-14 18:17] luii commented on #223
After hours of searching i think i found the badboy on the Module version mismatch.
`fuse-bindings` uses a package called `prebuild` that creates multiple "prebuild" binaries for node/io.js.
So my assumption on this was that `prebuild` loads the newest version of fuse-bindings but not the correct ABI version of Node (e.g. fuse-bindings: 2.8.1; Node.js ABI 47 (5.x.x) what it shoud look like fuse-bi

[2016-04-14 19:26] piranna commented on #223
@luii, that totally makes sense, the point is that I don't understand why it downloaded such version... I got a similar problem some time ago with the CI server using nvm where the NodeOS build process was using the globally instaded `node` executable instead. Would happen the same here?

I would open an issue on `fuse-bindings` repo anyway...

[2016-04-14 19:44] piranna commented on #222
I'm against to move the docs to independent repos, I think it's better to have them here with the main source code. What's that thing of `[ci skip]`?

[2016-04-14 19:56] piranna opened #229 "Keynote at UC3M Linux Users Group"
As some of you would already know if you follow us on [Twitter](https://twitter.com/TheNodeOS), last Tuesday I was giving a keynote about NodeOS on the [Charles Third University Linux Users Group](http://www.gul.es/), and finally I've got the [recording](https://drive.google.com/file/d/0B9fEpRL8W1SPZUFkeGNDYk1RSlE/view?usp=sharing) of the keynote ready to be downloaded :-)

And in other news... :-

[2016-04-15 01:21] lite20 commented on #229
You don't happen to have an English translation of it do you? :P cheers!

[2016-04-15 01:24] lite20 commented on #222
What really? I'm multilingual too! French is actually my dominant language.

[2016-04-15 01:29] lite20 commented on #222
@piranna we could create a mirror site like we did for the blog to hide the bloat of all the other languages being present? We could also then format it as we pleased.

[2016-04-15 02:54] lite20 commented on #75
This tool is fun to play with! I've been running 'coverdeeps' on everything for the last 20 minutes

[2016-04-15 03:27] luii commented on #222
@piranna if you place `[ci skip]` or `[skip ci]` inside the commit title semaphoreci will skip this commit
because its not a build process relevant commit.

@lite20 would it not be better to push it all to the docs folder and then create a list of languages inside the wiki?

[2016-04-15 04:49] Coretool commented on #222
@lite20 Oh wow ^^ Yeah... I'm swiss ... we've got about 4 official languges and even more that we (can) learn in school ^^

@luii I like the idea of seperated sites bette, I think it'd be much cleaner :/

[2016-04-15 05:31] piranna commented on #229
Sorry, I don't have it :-(
El 15/4/2016 3:21 AM, "Lite McFish" <notifications@github.com> escribió:

[2016-04-15 05:36] piranna commented on #75
And what's your impression? :-D
El 15/4/2016 4:54 AM, "Lite McFish" <notifications@github.com> escribió:

[2016-04-15 07:19] luii commented on #222
@Coretool i also prefer the idea of seperated stites.
I would also create git submodules in the nodeos/docs folder

[2016-04-15 08:31] piranna commented on #222
the bloat of all the other languages being present? We could also then
format it as we pleased.

I think that's diferent, the blog was an independent project. What's the
standard on Node.js projects beside Readme.md? A 'doc' folder?

[2016-04-15 08:33] piranna commented on #222
semaphoreci will skip this commit

Good trick, didn't know it :-)

create a list of languages inside the wiki?

I agree on that, only that put the languages list on the repo too.

[2016-04-15 08:35] piranna commented on #222
I don't like submodules too much... :-/

[2016-04-15 16:44] luii commented on #223
I dont think that this is a `fuse-bindings` related issue, its more a `prebuild` related issue
But first i look for a fix for that problem.

[2016-04-15 16:57] piranna commented on #223
Both `fuse-bindings` and `prebuild` has been created by @mafintosh, so I think he's the best one to ask for this problem ;-)

[2016-04-16 07:43] luii commented on #227
@piranna i edited the pull request

[2016-04-16 10:31] piranna commented on #227
Added some comments :-)

[2016-04-16 19:11] luii commented on #227
@piranna i was able to replicate the bug with the tar files.
I had 2 `.cpio` files, one containing just plain pictures and one generated with `cpio.txt` and `gen_init_cpio`.
I also copied `tar-stream` and `cpio-stream` into a test folder and added on both debug messages.
The first test: `cat archive.cpio | ./index.js > converted.tar`
And the second test (init.cpio is generated with gen_init_cpio):

[2016-04-16 19:33] piranna commented on #227
Awesome forensics work, thank you! :-D Yes, as I've put before seems to be a bug on `tar-stream`. Could you be able to confirm if there's the beginning of a zero block on 1466 byte, and if so remove it and test if you can list the files correctly? Tar format is a concatenation of 512 bytes blocks, so there should not be any problem by removing it. If so, then we can notify @mafintosh about this po

[2016-04-16 19:34] piranna commented on #227
Oh, and also check if the block before the zero block is a symlink! :-P

[2016-04-16 19:42] piranna commented on #227
[tar format is sh*t](http://www-01.ibm.com/support/docview.wss?uid=swg21270445)... Try to use the `-i` flag, seems GNU tar now expect two zero blocks to identify end of files... Someone could argue it's a bug on `tar-fs` by not adding them, but I honestly think it's a bug on Docker by not using standard compliant options.

[2016-04-16 19:44] luii commented on #227
That would be possible too!

[2016-04-16 19:52] piranna commented on #227
Check it and give me your conclussions ;-)

[2016-04-16 21:01] luii commented on #227
Well, i hexdumped the tar and got this https://gist.github.com/luii/6a7d3e1dece379358863fdb69135f817
I cut the most useless content like picture information.
And added a symlink with the name `layer1` pointing to `NodeOS Layer 1.png` and guess what i got the same error! I also added comments to clarify things on the gist!

[2016-04-16 21:17] piranna commented on #227
Yes, the error is related to symlinks :-P

I've reviewed the dump and definitely seems to be a problem with the zeroed blocks. Have you tried to use the `-i` flag as is dictated on the link I gave you before?

[2016-04-16 21:29] piranna commented on #227
I've done a little clean-up of your dump at https://gist.github.com/piranna/c69669190da25374b6a810d4288a1809. Since the symlink don't have a zeroed block after it, and the missing entries are just the ones after the symlink, could it be the blocks containing the file info are being ignored? If so, it would be as easy as just add a zeroed block after the symlink... Knowing the offset where the syml

[2016-04-17 05:50] luii commented on #227
Today i want to test if i repack the corrupted tar with GNU Tar if it then gives me a other result.

[2016-04-17 08:00] piranna commented on #227
And later compare the results? Ok.
El 17/4/2016 7:50 AM, "Philipp Czarnetzki" <notifications@github.com>
escribió:

[2016-04-17 08:02] luii commented on #227
Yeah thats the plan

[2016-04-17 14:56] luii commented on #227
Dont works for me. :-(

Well on the gnu tar are more zeroed blocks at the end and the order the files are set inside the archive is different but the symlinks are all the same

[2016-04-17 15:03] piranna commented on #227
I think the important part here is, does gbu tar add one (or more) zeroed
blocks after symlinks? I think this is the problem key.
El 17/4/2016 16:56, "Philipp Czarnetzki" <notifications@github.com>
escribió:

[2016-04-17 15:11] luii commented on #227
It could also be that are the pax are causing this problem and docker dont recognize this.
But GNU tar recognizes the headers

Here the dump of one generated with GNU (left) and one generated through `cpio2tar` (right)

![hexdump](https://cloud.githubusercontent.com/assets/8077014/14588013/03b5f348-04bf-11e6-9268-d50739162398.png)

[2016-04-17 15:16] piranna commented on #227
I don't think it's a problem of incorrect headers since vagga can use
cpio2tar files correctly, I think instead is a problem with some aditional
ckecks done by gnu tar, like the zeroed block after symlinks. Do you have
uploaded somewhere the generated tar files so I could be able to check them
too?
El 17/4/2016 17:11, "Philipp Czarnetzki" <notifications@github.com>
escribió:

It implementes USTAR

[2016-04-17 16:32] luii commented on #227
Here you have it [test.tar.gz](https://github.com/NodeOS/NodeOS/files/222735/test.tar.gz)
- `init.cpio` was created through `gen_inti_cpio`
- `barebones.tar` was converted to tar with `cpio2tar` from `init.cpio`
- `cpio2tar.cpio` was created with `cpio -ov`
- `fromcpio.tar` was converted with `cpio2tar` from `cpio2tar.cpio`
- `gnu.tar` was repacked from `fromcpio.tar`

[2016-04-17 17:02] piranna commented on #227
How did you repacked `gnu.tar`?

[2016-04-17 17:17] luii commented on #227
i unpacked `fromcpio.tar` put all the files in a folder and repacked with tar -cf
mostly to check if any files were corrupted during the conversion of `cpio2tar`

[2016-04-17 17:27] piranna commented on #227
That's cool :-) How did you do the extraction of `fromcpio.tar`? I think we have the problem here...

[2016-04-17 17:29] luii commented on #227
with gnome's archive manager

[2016-04-17 17:32] piranna commented on #227
file-roller? It's showing me a pop-up with the same errors from command line gnu tar and later the window is not showing files...

[2016-04-17 17:40] luii commented on #227
i have created a cpio using cpio like this: `cpio -o < docs/ > archive.cpio` then i converted it with `cat archive.cpio | ./index.js > converted.tar`

[2016-04-18 15:15] lite20 commented on #222
Check out how I handled double languages with HexCade:
https://bitbucket.org/Lite20/hexcade/wiki/Home

We could potentially do this?

On Fri, Apr 15, 2016, 2:35 AM Jesús Leganés Combarro <
notifications@github.com> wrote:

[2016-04-18 15:16] lite20 commented on #75
I get the impression that I have a lot of tests to write for a lot ;-;

[2016-04-18 15:17] lite20 commented on #229
That's okay! I'll just have to find a translator

[2016-04-18 15:46] piranna commented on #75
I think this is a good thing, isn't it? ;-)

[2016-04-18 15:52] piranna commented on #229
I don't know if GDrive support auto-captions as YouTube does...

[2016-04-18 15:59] piranna commented on #222
[GitBook multi-language format](http://toolchain.gitbook.com/languages.html) is very similar to the solution that you propose :-) This way we could be able later easily publish NodeOS docs too :-D

[2016-04-18 20:53] piranna commented on #227
I think I've found it, and in fact, [it's not something new](http://bugs.python.org/issue1167128). Seems gnu `tar` (booooh...) requires the file size of the symlink entry header to be zero, while we are setting it to the length of the target path (22), and in fact it's the only notable difference between `fromcpio.tar` and `gnu.tar` files...

[code]

[code]

Probably this is due to the fact `cpio2

[2016-04-19 03:33] luii commented on #227
I saw the difference earlier but didnt thought that it could make such problems

[2016-04-19 04:18] lite20 commented on #75
hahaha nope! Because that means I have a lot of work, but it will be nice once that number raises haha!

[2016-04-19 04:20] lite20 commented on #222
GitBook sounds good to me! Let's do it! I'll probably implement it w/ HexCade too.

By the way, since I know you're curious, HexCade is an interpreted language I started creating to better understand interpreted languages. It's key features are how it handles threads, it's true asynchronous nature, and it's object context design (in JS we have contexts; in HxC, contexts from, for example functions

[2016-04-19 07:11] piranna commented on #75
First of all, make coverdeeps more flexible... and get it to achieve 100%
;-)
El 19/4/2016 6:18, "Lite McFish" <notifications@github.com> escribió:

[2016-04-19 07:12] piranna commented on #227
It shouldn't, that's why I said it's a gnu tar bug.
El 19/4/2016 5:33, "Philipp Czarnetzki" <notifications@github.com> escribió:

[2016-04-19 07:23] luii commented on #75
Can we make a list of all things we need to test because i wann to help

[2016-04-19 07:27] piranna commented on #75
Coverdeeps should help on this by showing the tests coverage of each
module, but I think we can start with itself. You know, eat our own dog
food :-)
El 19/4/2016 9:23, "Philipp Czarnetzki" <notifications@github.com> escribió:

[2016-04-19 13:24] piranna commented on #227
I've fixed `tar-stream` and in a quick check seems [cpio2tar](https://github.com/piranna/cpio2tar) is now generating valid tar files regarding to symlinks size :-)

[code]

I'll try to find some time to integrate this on NodeOS and let's see if we can generate Docker images :-D

[2016-04-20 17:01] luii commented on #223
@piranna i found a workaround for this problem.
we can use a `.prebuildrc` on the project or in the home folder.

the content of the `.prebuildrc`:

[code]

[2016-04-24 09:41] luii commented on #227
The build process so far gives me no errors, the cpio2tar part works.
Now i get a error that the userfs cant be found
[code]

[2016-04-24 09:48] piranna commented on #227
Interesting... Are you trying to mount usersfs by using a UUID instead of a
path?
El 24/4/2016 11:41, "Philipp Czarnetzki" <notifications@github.com>
escribió:

[2016-04-24 10:06] luii commented on #227
It seems that this happens automaticly

I changed some things to get around the `/proc/mtab` error like the `nodeos-mount-filesystems` which i changed to my forked repo `luii/nodeos-mount-filesystems` in the `packages.txt` in `nodeos-initramfs`

I looked at my build log and saw just now that the userfs was not copied over to `out/latest`

[code]

So i copied the files manully to the `out/latest` f

[2016-04-24 10:14] piranna commented on #227
of it but same result

Do you ger the same error? Maybe Docker is trying to mount the filesystem
from other place... So far I only did some experiments with vagga and it
was using /proc/cmdline from the host system so I needed to hack
nodeos-mount-filesystems to override its values with some environment
variables, probably it's happening the same with Docker. Could you confirm
that UUID is the one

[2016-04-24 10:19] luii commented on #227
Unfortunetly they're not the same
![term](https://cloud.githubusercontent.com/assets/8077014/14766789/b4bfbd8e-0a16-11e6-874d-57a5ee22ca06.png)

[2016-04-24 10:29] piranna commented on #227
Sh*t... :-( Could you be able to post the output of /proc/cmdline? The
error talk about PARTUUID instead of UUID. Partition and filesystem UUIDs
are not necesarily the same and I think lsblk only show filesystem ones
(but maybe there's an option to show paftition ones), so this could be the
problem...

By the way, nice system, 4 hard disks... :-)

[2016-04-24 10:39] luii commented on #227
The `sda` and `sdb` are for Windows, since i switched to Arch i havent used them at all (one ssd and a hdd :P )

But it seems you were right about the UUID of the Filesystem and the PARTUUID, they're not the same! Since i use GPT for my System i used the wrong command (`lsblk`) instead of `blkid`.

And like you said above, docker is trying to mount the host root partition XD
`/dev/sdd3: UUID="35ab

[2016-04-24 10:51] piranna commented on #227
And we have a winner! :-P

You can set on the `Dockerfile` the environment variable `root` to "container" and [it will by-pass the mount of usersfs](https://github.com/NodeOS/nodeos-mount-filesystems/blob/7937600616a6987d472d0e85d9c4143ec9585c97/server.js#L323-L328) because it should be already mounted by Docker itself. Besides that keep in mind that this is mostly untested because Docker and vagg

[2016-04-24 10:59] luii commented on #227
Ok that works.
I've now booted into the barebones repl!
[code]

[2016-04-24 11:02] piranna commented on #227
No, you've booted to the NodeOS-mount-filesystems REPL, that's beyond that ;-) Seems it can't be able to find usersfs. Have you configured the Dockerfile to mount it?

[2016-04-24 11:41] luii commented on #227
Well i added `ENV root container` to the `nodeos-userfs` Dockerfile

[2016-04-24 12:19] piranna commented on #227
Then here start the dragons :-) You need to config it to mount the disk
image or use it as a layer or something... Sorry, I can't help you more at
this moment, I'll try to take a look later, keep me informed of your
progresses.
El 24/4/2016 1:41 PM, "Philipp Czarnetzki" <notifications@github.com>
escribió:

[2016-04-24 18:51] piranna commented on #227
I've taken a look and the Docker '-v' parameter allow to mount host files
and directories on the container, so it would be possible to mount the
filesystem image on /dev/sdb2, for example. Problems are that maybe it
would be needed to create a loopback device on the fly (on the host or by
NodeOS on the container), and that by portability reasons the '-v' flag is
not available on the Dockerfile, bu

[2016-04-26 06:08] lite20 opened #231 "Changing Boot Logo"
Creating a thread so we can focus on competing this task. If anyone has an idea on how to change the Linux boot logo from tux to our own NodeOS image, please share. (I have knowledge, but it's incomplete)

[2016-04-26 06:08] lite20 commented on #231
Just dumping links for me to read is also appreciated

[2016-04-26 06:16] piranna commented on #231
If you search for Linux boot logo there's a lot of tutorials :-) The default steps are mostly

- [ ] create an 80x80 image from the SVG logo
- [ ] reduce colors to 2, 4, 16 and 244 (seems there's a Gimp plugin just for this that create three versions at once)
- [ ] convert logo images in C code
- [ ] patch/overwrite Linux kernel source code with the logo images source code

Now you have where to s

[2016-04-26 06:17] lite20 commented on #231
I anyone gets a chance, let's try this:

http://web.archive.org/web/20140707092448/http://sumanprasanna.wordpress.com/2012/12/11/how-to-change-your-boot-logo-in-linux-kernel

If I have free time I'll give it a whirl.

[2016-04-26 06:22] piranna commented on #231
Yeah, that's the kind of instructions I was talking about :-)

[2016-04-26 06:24] lite20 commented on #231
Awesome. A git patch? Is that what you have in mind?

[2016-04-26 06:29] piranna commented on #231
Once that's finished, yes, that's the best option. I would prefer to generate the image directly from the SVG file on build time, but seems it would be more difficult... One step at a time! :-)

[2016-04-26 06:45] lite20 commented on #231
I think if we can generate a ppm and get it working than we can slowly back down the format chain to png, and then svg > png >  pnm and of course ppm

[2016-04-26 06:53] piranna commented on #231
Yes, but better left this for a second iteration ;-) On a first instance, I think the patch is just enough, at least for the part of adding the option on KConfig.

[2016-04-26 16:12] luii opened #232 "ES6 features in NodeOS"
Hey, i want to know if we can use es6 features like template strings and such things because nodejs.org (https://nodejs.org/en/docs/es6/) and kangax (https://kangax.github.io/compat-table/es6/#node4) shows that in node 4.4.3 we can use them.

And if we can make use of them, should we use it in strict mode?

[2016-04-26 16:18] piranna commented on #232
I don't see why not... what do you want to work about?
El 26/4/2016 6:12 PM, "Philipp Czarnetzki" <notifications@github.com>
escribió:

[2016-04-26 16:28] luii commented on #232
Currently im writing tests and the documentation of the `nodeos-mount-*` modules.
And isnt it better to set every script to strict mode because most of the es6 functions need strict mode

[2016-04-26 16:29] piranna commented on #232
You are right, so if you want to add strict mode you are welcome :-)
El 26/4/2016 6:28 PM, "Philipp Czarnetzki" <notifications@github.com>
escribió:

[2016-04-26 16:36] luii commented on #232
Cool thanks, i think we should create Guidelines for creating modules for NodeOS
Because if another person creates a core module for NodeOS and this module is then in Non strict mode but every other Module is in strict mode, this module can create errors but they are not registered as errors and this is crucial for stability

[2016-04-26 17:24] piranna commented on #232
I agree, or better than that, a checker tool similar to 'standard' so it's
just needed to exec it to know if it's valid. One of the first things, 100%
tests coverage with my module 'coverdeeps' and full strict mode, do you
agree? :-)
El 26/4/2016 6:36 PM, "Philipp Czarnetzki" <notifications@github.com>
escribió:

[2016-04-26 17:31] luii commented on #232
I like the Idea but wouldnt it be to much effort to write such thing?

[2016-04-26 20:33] piranna commented on #232
One step at a time ;-) Let's start finishing coverdeeps and we'll move
later to the guidelines checker.

I like the Idea but wouldnt it be to much effort to write such thing?

—
You are receiving this because you commented.
Reply to this email directly or view it on GitHub
<https://github.com/NodeOS/NodeOS/issues/232#issuecomment-214820596>

[2016-04-26 22:10] lite20 commented on #75
For a list of tasks to complete, there is the roadmap. You can find a link
to it on the Wiki

On Tue, Apr 19, 2016, 1:27 AM Jesús Leganés Combarro <
notifications@github.com> wrote:

[2016-04-26 22:10] lite20 commented on #232
I like this idea. I can write a simple tool to do the validation after I
get this boot logo task completed.

On Tue, Apr 26, 2016, 11:31 AM Philipp Czarnetzki <notifications@github.com>
wrote:

[2016-04-26 22:10] lite20 commented on #75
Just for clarification, does NodeOS support native modules (compiled
modules)

On Tue, Apr 26, 2016, 4:09 PM Lite McFish <lite260@gmail.com> wrote:

[2016-04-26 22:13] piranna commented on #232
There you have :-)

[2016-04-26 22:14] lite20 commented on #232
Faaaaantastic!

[2016-04-26 22:15] piranna commented on #75
Not to install them with npm from inside NodeOS itself because we don't have yet a c compiler (probably nodeos-cross-toolchain would be reused for this), but you can add them on build time.

[2016-04-27 14:22] Compynerd255 commented on #75
Quick question: How are you defining coverage? If you're purely going by lines of code (which is what it appears that coverdeeps is doing), then you aren't necessarily covering all expected behaviors, since you have varying branches and whatnot. Are you accounting for branches, including branches implicit in operations such as division (which throw errors when you try to divide by zero)?

[2016-04-27 16:44] piranna commented on #75
Good question. At this moment I only trust on what coveralls.io does, so if
it only count lines (I think it do), then that's what we have. Coverdeeps
is really pesimistic about percentage, that's something good since if we
get some better checkers the value given can only decrease... so we have
more things to fix :-) We could expand it to use bithound.io or other
metrics, too...
El 27/4/2016 4:22

[2016-04-28 14:35] Compynerd255 commented on #75
Those things could work - having a metric like this is definitely a good first step to have.

If you're trying to go for a perfectly bug free OS, however, then something that you might want to consider is actually going in and formally verifying the OS components (i.e. sitting down with the JS source and mathematically proving that each function actually does exactly what it's supposed to do). I b

[2016-04-28 19:09] piranna commented on #75
That's definitely dificult to achieve, since we are using both Linux and Node.js (and as you've said, this one use v8), and the two are really big projects, and as far as I've seen there's no way to get tests coverage statistics for them, imagine to get a mathematic audit of the code... The best we could achieve is to claim that there's a perfect score of 100% on NodeOS core modules and dependenci

[2016-04-29 14:31] Compynerd255 commented on #75
Yes, that we could. I'm just saying that if we can prove that the JS that drives NodeOS core is correct, then we know that any bugs in NodeOS that we do find are V8's fault or the Linux kernel's fault, not NodeOS's fault. And then our JS code can serve as a reproducible example that we can draw up really quickly for the bug report.

[2016-04-29 14:33] piranna commented on #75
That's exactly what I was telling you.

[2016-04-29 15:33] Compynerd255 commented on #75
OK, that makes sense. :)

[2016-05-02 16:59] piranna opened #233 "Is it time for 1.0?"
In the last weeks this project has been to quiet both of personal issues of me and others, but also due to some problems that has arised with the final points on the [1.0 roadmap](https://github.com/NodeOS/NodeOS/issues/37), regarding bugs on Node.js and pty.js that are showstoppers for the rewritten nsh, but also for problems with ngit git client. Since these are the only pending points and the c

[2016-05-02 17:47] tylerl0706 commented on #233
I know I've been pretty inactive the past weeks. It's the end of semester craziness that always gets me! I'm graduating on Thursday so life will be a LOT less crazy after that and I'll actually be around.

That said, I thought about a NodeOS without git and I feel as if doesn't really feel like a 1.0 without it. Maybe I'm totally wrong. It's,  of course,  my fault for not having it done.

On the o

[2016-05-03 04:06] lite20 commented on #233
As I imagine each of us have been away for our own reasons I too have been jammed lately with projects in all my classes at the same time, my driving road test in a week, and soccer. (Plus my computer was confiscated)

However I'm still as hyped as ever! Unlike traditional behavior I'm going to suggest against a 1.0 release. Although a 1.0 release is an exhilarating thought that could create momen

[2016-05-03 04:12] lite20 opened #234 "CodeShip CI"
I know we've been having a bit of trouble occasionally with the build server. Might I suggest one that's worked really nicely for me?

I've never worked with Sophomore but CodeShip has performed excellently for me. They're staff reach out and aid you in perfecting your continuous integration. I believe they might suit the project well.

I'd give it a test run myself but I'm not a repo admin and Co

[2016-05-03 07:48] piranna commented on #234
I tried CodeShip first when moving from Travis, but didn't allowed me to install some packages using apt, specially qemu. Maybe now they are not needed anymore, so it would be good to give it a try. Could you be able to check it in your fork? If it works, I would gladly accept a pull-request :-) It would be cool to have both Codeship and Semaphore working at the same time, so if one fails we have

[2016-05-03 16:33] lite20 commented on #234
Sure I'll give it a try!
On May 3, 2016 1:49 AM, "Jesús Leganés Combarro" <notifications@github.com>
wrote:

[2016-05-03 20:44] piranna commented on #233
So seems both we have been so busy lately and probably in some weeks we'll be a lot more free to move this forward (I hope to read my thesis soon, too :-) ) AND seems to be some consensus about git it's mandatory for 1.0 :-P

So ok, let's do that, we'll try to move this forward and don't publish the 1.0 release until npm can install dependencies from a git repository, do you agree on that as the m

[2016-05-04 19:37] tylerl0706 commented on #233
I think that sounds good! :)

[2016-05-05 17:54] lite20 commented on #233
Sounds excellent. Where do we sit with progress on the git client?

[2016-05-05 17:57] piranna commented on #233
The last thing I remember where some not-reproducible problems... Maybe if
they are explained we could try to replicate the environment, or find other
ways where to progress...
El 5/5/2016 7:54 PM, "Lite McFish" <notifications@github.com> escribió:

[2016-05-05 18:12] luii commented on #233
@piranna Is there a Issue for this?

[2016-05-05 18:14] piranna commented on #233
Yes, there's an issue to follow the progresses on the git client.
El 5/5/2016 20:12, "Philipp Czarnetzki" <notifications@github.com> escribió:

[2016-05-08 18:44] heavyk commented on #169
hey dude, sorry for so much silence... things were crazy... I'm glad I could be of some help and really glad to see everything has worked out too!!

I read your blog... looking back at it, it seems so obvious now about it needing `/dev/*` so loading it in tmpfs would obviously be necessary -- duh. dunno why it didn't occur to me then :(

glad to hear the progress and I'll be trying it out real soo

[2016-05-10 16:25] jaumard opened #235 "Gitter chat room ?"
Hi,

I just found this project and I'm really exited about it ! I would like to help if I can :) is there any Gitter chat room to discuss about the project ?

Of course this kind of OS will be great as server but I would like to see it running also on a mobile device with a desktop screen when HDMI is used like MaruOS. But to do this we need an UI, I see multiple issue about this if you don't mind

[2016-05-10 16:41] Coretool commented on #235
I don't think that we have a gitter chat room... Afaik everything is discussed via issues. If you're interessted in the GUI, go check out noGui, it's an approach to give NodeOS a gui!

[2016-05-10 16:54] luii commented on #235
We have the #nodeos on the freenode irc

[2016-05-10 18:21] lite20 commented on #235
Does anyone use that? Most discussion that I know of happens via github issues just as @Coretool mentioned.

[2016-05-10 18:31] lite20 commented on #235
You'll be working a lot with me then as I'm (the only declared) one working on getting this to the mobile scene. Of course our GUI'd editions won't reside here, but as the GUI and all will be but npm modules, we have but to install them on the nodeos build.

At the moment all progress is occurring in the noGUI project. NoGUI is the program that will render webpages to the devices display. Think of

[2016-05-10 21:55] piranna commented on #235
AFAIK the discussion is only done here on GitHub issues, using them as a sort of issues tracker, forum and mail list... This allow to have a single point for all the project communications, if there's any other communication channel I'm not aware of it.

Regarding usage on mobile platforms I'm also interested on this and will accept any pull-request about this. nodeos-cross-toolchain can compile a

[2016-05-10 22:07] lite20 commented on #235
Yes I'll be doing extensive work on maintaining NodeOS mobile, and nano
computer support @piranna . I'm doing a hardware run soon but yes the
kernel panic is odd. I'll have a look at it soon.
On May 10, 2016 3:55 PM, "Jesús Leganés Combarro" <notifications@github.com>
wrote:

[2016-05-10 22:14] piranna commented on #235
Just curious, what ARM platform are you using?

[2016-05-11 06:14] rajzshkr commented on #31
@groundwater I am interested in contributing to this project.

[2016-05-11 06:24] piranna commented on #31
Hi Raja, pkease to meet you. I'm the current project lead developer and maintainer. What are you interested in colllaborate?

[2016-05-11 08:14] jaumard commented on #235
Thanks guys ! To be honest I don't know anything about OS world, generally I'm Android/iOS dev or front/end (Web with JEE or NodeJS) dev. But I want to learn and help you with this ^^. I have the all family PI at home if it's supported :)

I will take a look at noGUI then ! I'll try to build NodeOS on my mac but so far no luck ^^

And maybe start to make a desktop app would be cool too ^^ (hope th

[2016-05-11 17:38] jaumard commented on #235
I manage to test nodeOS on Ubuntu :) how can I set the keyboard to Azerty ? ^^

[2016-05-11 17:42] luii commented on #235
Currently there is no binary to change the keyboard layout as far as i know
I personnly use the QWERTZ layout, so i know this problem.

[2016-05-11 17:57] piranna commented on #235
It could be done setting it as one of the boot parameters. It's not out of
the box, but it's an easy task. Pull-requests are welcome :-)
El 11/5/2016 19:42, "Philipp Czarnetzki" <notifications@github.com>
escribió:

[2016-05-11 18:31] lite20 commented on #37
Only two more things to go!

[2016-05-11 18:34] lite20 commented on #235
Go ahead and shoot me an email at lite260@gmail.com I'll be glad to get you up to speed on how all the under systems work. There's also a bit of useful information on the wiki! (It's in the process of being upgraded)

P.S. if you don't mind, we could do some tests with the PI. NodeOS is having issues with ARM, maybe we can work together and iron those out!

[2016-05-11 18:38] lite20 opened #236 "Changing Keymap"
NodeOS currently has no method of swapping keyboard layouts. This thread is to mark progress in adding this function to NodeOS. I suggest it be a NodeJS module as it could be useful to other programs, and not everyone will need it.

[2016-05-11 18:38] lite20 commented on #235
I personnly use the QWERTZ layout, so i know this problem.

Thread created: https://github.com/NodeOS/NodeOS/issues/236

[2016-05-11 18:41] lite20 commented on #232
As I currently don't have access to my usual dev computer, I'll be working on this validation tool for now. I've dubbed it NSV for (node script validator) and it'll be up on Github ^_^

[2016-05-11 19:00] Coretool commented on #236
I don't know if a npm module is the right choice for this task. I think the best way is giving it as kernel arg

[2016-05-11 20:04] piranna commented on #236
Giving a kernel argument it's easy, maybe we could add a solution out of the box, for example a flag on the scripts that exec QEmu. Maybe could be a simple solution for SysLinux and the live CD images, too.

[2016-05-11 22:45] piranna commented on #232
Cool :-) Take a look on `standard` module, seems it would be needed only to tune-up it a little bit, there's no need to write it from scratch, just config it :-)

[2016-05-12 05:09] Coretool commented on #236
We can pass kernel parameters via the `syslinux.cfg`... It should be possible to make changes via a node module (more of a command line app). If nobody else wants I can give it a try :) !

[2016-05-12 05:17] piranna commented on #236
Yes, but I was thinking more about to use a syslinux plugin, like the menu
one or something similar. We can left it for a second round and update
first the QEmu scripts.

command line app). If nobody else wants I can give it a try :) !

That will not work, but the QEmu scripts part is simple enough. They are
spread and duplicated on the several layers, so if you want to unify them
go for it :-)

W

[2016-05-12 06:59] jaumard commented on #236
Generally I use `setxkbmap fr` to set my keyboard to AZERTY on linux, maybe an npm module can do the same to be use as command line ? Don't know if it's possible because I didn't understand yet how nodeOS works.

[2016-05-12 07:08] jaumard opened #237 "Unknown binaries doesn't throw error"
When I use command that doesn't exist the command is simply ignored and I don't have a message to say something like `command not found`. I know this is a small things but I put here to the record ^^

[2016-05-12 07:37] Coretool commented on #236
`setxkbmap` is a `xlib` command/method so it won't work on nodeOs since we don't have X11 I think we will have to work with kernel args to achieve this..

[2016-05-12 08:05] piranna commented on #236
console-utils could done this, maybe...

I once had it hardcoded with spanish keyboard, so it's possible :-) I removed it because it's better to add a flag, but we didn't do it yet.

[2016-05-12 08:06] piranna commented on #236
If someone wants to do it please tell me, we need to start to organize collaborations and assign tasks to whom what to pick them so we don't duplicate efforts :-)

[2016-05-12 08:41] Coretool commented on #236
I can do it ! How / where did you hardcode it ?

[2016-05-12 08:43] piranna commented on #236
In the QEmu scripts on the `append` argument.

[2016-05-12 09:32] Coretool commented on #236
That's what you would do in the syslinux.cfg too ...

[2016-05-12 09:50] piranna commented on #236
Then there you are :-) Only that take in account `syslinux.cfg` will be on the CD image and will not be able to be change, so or you are an option to build it with a hardcoded keymap, or you add an option to select when booting the Live CD as Ubuntu install ones does...

[2016-05-12 14:00] aurium opened #238 "Blog's RSS is empty"
https://zapier.com/engine/rss/956964/nodeos-blog
(also: this url is not nice)

[2016-05-13 05:11] piranna commented on #238
RSS is autogenerated, since internally we use GitHub issues. We used before
Yahoo! Pipes and worked like a charm, but since they closed it we needed to
look for a free alternative, and Zappier seemed to make the work althought
is not so reliable. If you know of an alternative please let us to know.
El 12/5/2016 4:00 PM, "Aurélio A. Heckert" <notifications@github.com>
escribió:

[2016-05-13 15:36] Coretool commented on #236
@piranna Which script does generate a the `syslinux.cfg` ?

[2016-05-13 21:28] piranna commented on #236
[It's not generated](https://github.com/NodeOS/NodeOS/blob/master/node_modules/nodeos-rootfs/syslinux.cfg)

[2016-05-14 06:53] Coretool commented on #236
Ah ! There it is ^^

[2016-05-16 20:01] lite20 commented on #236
Does NodeOS run on bare metal? It didn't work the last time I tried. What's the procedure for setting it up?

[2016-05-16 20:03] lite20 commented on #236
Yeah, this is what I had in mind. Think of NodeOS as ubuntu server with v8 running everything. (Of course, it's more complex and streamlined than that, but that POV makes it fairly easy to help understand "would this work" questions)

[2016-05-16 20:09] lite20 commented on #236
The only thing is that we would need the command, and all it's dependencies too which all boils back down to the kernel.

[2016-05-16 20:14] lite20 commented on #237
Nsh, the command-line used in NodeOS is on the verge of being updated, but when I last checked a bug in NodeJS was stalling it's progress. I'm not sure if it's been resolved yet. @piranna will have more info on the status of it

[2016-05-16 20:15] lite20 commented on #232
Ah, I will check this out!

[2016-05-16 20:19] piranna commented on #236
Of course it does :-) You can use one of the iso prebuild images, or build it with `PLATFORM=iso`. After that, you'll need to write it on a USB stick with `bin/installUsb`.

I would try with the kernel boot argument, that we know it already works...

[2016-05-16 20:20] piranna commented on #237
It seems it will be delayed a long time... I'm thinking about finding some workaround for this, but lately I don't have time for almost anything :-(

[2016-05-16 20:20] Coretool commented on #236
I did some research, and as far as I know now, there easiest eay of doing it, is making some changes to `/etc/vconsole.cfg` (or something like this) to change the layout for the console...

[2016-05-16 20:29] piranna commented on #236
I think it was by defining the `LANG=` parameter.

[2016-05-16 20:35] Coretool commented on #236
Let me try that ...

[2016-05-18 01:39] lite20 commented on #236
But won't changing the language only occur on startup? Users wouldn't be able to change the keyboard layout from then on?

[2016-05-18 01:43] lite20 commented on #236
I thought the intended goal was to be able to swap layouts on the fly like on most OS's? That's why I suggested a module, so apps could change the keyboard layout if their functionality required it.

[2016-05-18 04:18] Coretool commented on #236
@lite20 It's just one way of doing it. I don't know how it looks like with accessing /etc/ on nodeOS, the keyboard related configs are all found there...

[2016-05-18 05:34] piranna commented on #236
Exactly, it's the one I found to do it, a simple one.

keyboard related configs are all found there...

Each user has its own /etc folder, so it's a posibility to set
configurations there, but I don't know if they get applied in a per-user
basis... I think it would be feasable, but someone else would need to test
it. If it's just a matter of setting the LANG= environment variable or
others, logon

[2016-05-18 05:49] Coretool commented on #236
I don't know if this is a debian/ubuntu specific feature, but I know that there is a `LANG` environment on both if them. Changing it, changes keyboard and lang for this session. If it's not platform specific, we can use it ...

[2016-05-18 06:17] piranna commented on #236
As I said, setting it as boot argument worked for me, so seems to be
platform agnostic. It could be easy to fetch it from host system and set it
for QEmu scripts, but doing so for SysLinux and ISO images will be trickier
and it would need to show a menu to select the language on boot.

Any volunteer for any of the two things? :-)
El 18/5/2016 7:49, "John Green" <notifications@github.com> escribió:

[2016-05-22 10:34] luii commented on #235
@piranna  I think we should use gitter for answering questions and helping people and use GH Issues for Feature requrests (and discussions) and bugs

[2016-05-22 10:48] piranna commented on #235
I'm not too much into chats and ingeractive channels, but I'm not against
them. If someone want to manage the Gitter channel it's ok for me.
El 22/5/2016 12:34 PM, "Philipp Czarnetzki" <notifications@github.com>
escribió:

[2016-05-22 19:29] serapath commented on #235
I found this one `https://gitter.im/NodeOS/NodeOS`. There is no chatting going on, but @groundwater, @piranna and @luii are members.

What I love about gitter is:
* that it's very convenient to use from within the browser
* I can send messages to people offline & online
* it notifies me on desktop and mobile
* it preserves all history and allows to search it.
* i can use markdown
* it auto-syncs w

[2016-05-22 19:47] luii commented on #235
I created the chat just today

[2016-05-22 20:33] serapath commented on #235
+1 :-)

[2016-05-23 15:24] piranna opened #240 "Install QEmu from prebuild images"
Add a script to the prebuild images to install QEmu and the required dependencies when using a prebuild images. By far, the only needed one is `qemu-system-x86` package.

[2016-05-23 15:26] piranna opened #241 "Test prebuild images"
Add tests to ensure the prebuild images are working before publishing them.

[2016-05-23 15:50] luii commented on #236
Maybe it would be a solution to hardcode the keymaps, for example map "a" to "b" or something
Using [KeyboardJS](https://github.com/RobertWHurst/KeyboardJS) for this or something similiar

And creating a binary file for this [loadkeys](http://www.tutorialspoint.com/unix_commands/loadkeys.htm)

[2016-05-23 17:52] piranna commented on #236
That's too much high level, I'm not sure if it would be possible...

That would be interesting, yes.

[2016-05-25 05:42] luii commented on #237
@piranna where is the Bug i could look into it

[2016-05-25 13:02] piranna commented on #237
https://github.com/nodejs/node/issues/5574

[2016-05-25 17:59] luii commented on #237
@piranna if i understand this correct you want to issue a command like nano and want to keep the process.stdin and duplicate it through the file descriptor for other commands.
This is a whole new level for me :D

[2016-05-25 18:17] piranna commented on #237
It's never too late to start learning ;-)
El 25/5/2016 20:04, "Philipp Czarnetzki" <notifications@github.com>
escribió:

[2016-05-25 18:18] luii commented on #237
But is my assumption correct?

[2016-05-25 20:05] piranna commented on #237
Yes, this is a low level bug on Node.js regarding management of tty
streams. I did it so easily on C some years ago, but this is Javascript.
El 25/5/2016 20:20, "Philipp Czarnetzki" <notifications@github.com>
escribió:

[2016-05-26 07:36] luii commented on #237
Maybe this is an alternative: [pty](https://github.com/chjj/pty.js)
Create and use a pseudo-tty via the pty module. This allows you to create a "fake" tty that allows you to run programs like `sudo` without actually hooking them up to a real tty. The benefit to this is that you can programmatically control/access stdin/stdout/stderr.

[2016-05-26 07:45] piranna commented on #237
Yes, pty.js is an alternative... but it also has a bug where when using
process.stdin on pty.open() (we can't use pty.spawn() because we are not
using a single command), so it's not an option :-(
El 26/5/2016 9:36, "Philipp Czarnetzki" <notifications@github.com> escribió:

[2016-05-26 11:43] piranna commented on #237
Anyway it's good to see your suggestion, it shows you are starting to think as an OS developer ;-)

[2016-05-26 14:20] luii commented on #237
@piranna Would you mind to give me more information how nsh should work?
Why does it need tty? Does it really need multiple stdin's?
We could also use this information in the docs

[2016-05-26 22:51] lite20 commented on #241
How would we go about automating this?

[2016-05-26 22:54] piranna commented on #241
Honestly I'm not sure, the most I can think about is to finish to split the
layers to independent modules and test them separately.
El 27/5/2016 0:51, "Lite McFish" <notifications@github.com> escribió:

[2016-05-26 22:54] lite20 commented on #235
Modded Pi's and custom builds for now :D @piranna

[2016-05-27 19:46] atilacamurca opened #242 "Image viewer: lightgallery"
<http://sachinchoolur.github.io/lightgallery-desktop/>

Do you guys already have plans to have an image viewer, I just found this and it looks good.

[2016-05-27 20:02] piranna commented on #242
It looks nice, but it falls way long from NodeOS focus, not only because NodeOS left the apps as an user decision, but also because for GUI apps we propose to use pure HTML5 mechanism that can work on any web browser, that's not the case of Electron. Thank you anyway.

[2016-05-27 20:02] #242 closed

[2016-05-29 09:37] martinsookael opened #243 "git rev-list -n1 raspi fatal: ambiguous argument 'raspi':"
somehow can't get the installation process going on on Ubuntu 14.04.

[code]

[2016-05-29 10:21] piranna commented on #243
I have been doing some changes to both use upstream QEmu 2.6.0 (that have
merged the raspi branch changes) and to make the build process more
flexible by not being the repo a patched fork of the original one but
instead download a tarball, but I've not finished them. I'm going to try to
fix them now.
El 29/5/2016 11:37, "Martin Sookael" <notifications@github.com> escribió:

[2016-05-29 17:53] piranna commented on #243
@martinsookael, could you be able to test it now? It should be fixed in master.

[2016-05-30 10:14] martinsookael commented on #243
Thank you for this and tested!
Still no luck but a new error though :)
[code]

[2016-05-30 10:17] piranna commented on #243
Yeah, it's somewhat related, I'm moving from 'prebuild' package to simpler
'prebuild-install' now that they have accepted my patches and didn't fully
found all the placed where I was using it. If you want to send a
pull-request with your patches I will accept them :-)
El 30/5/2016 12:14 PM, "Martin Sookael" <notifications@github.com> escribió:

[2016-05-30 16:48] lite20 commented on #232
@piranna do you wan't leave the 'no semicolons' rule too? I'm a fan of semicolons but I could easily have it rip them from the code if you want.

[2016-05-30 17:35] piranna commented on #232
It's 2016 AND node.js takes lots of ideas from Python, so no semicolons
here except for smileis ;-)
El 30/5/2016 18:48, "Lite McFish" <notifications@github.com> escribió:

[2016-05-30 19:11] lite20 commented on #232
Roger that :P

Mind if I make it auto correct the code?

[2016-05-30 19:53] piranna commented on #232
How do you plan to do it? I have started to use eslint but didn't have time
to add it everywhere...
El 30/5/2016 9:11 PM, "Lite McFish" <notifications@github.com> escribió:

[2016-05-31 14:08] luii opened #244 "oh my nsh"
Hey,
i know its maybe to early to do things like this but i want to propose a framework for nsh.
You all may have heard of the frameworks named like this: "oh-my-*".
Guess what i've done something similiar. You can find it here: [oh-my-nsh](https://github.com/luii/oh-my-nsh)

And i also want to propose some things for nsh here (because i cant open a issue on @piranna repo)

* **Using hardwired Con

[2016-06-02 09:02] piranna commented on #244
Until nsh rewrite gets to work yes, this is too early :-P Only problem is regarding to make commands to know they are working on a TTY, if not for example node needs to be executed with the `--interactive` flag to force a REPL, besides that it's working. If you are interested, I would be able to check it an release a version without that...

I didn't heard about them, but that's cool :-)

[Fixed](

[2016-06-02 18:02] luii opened #245 "Non-blocking stdio in Node.js 6.x.x"
Hey just want to point out that in the new versions of node.js stdio is non-blocking as @juliangruber stated.

[2016-06-06 03:37] m31271n opened #246 "Homepage link is broken."
<img width="851" alt="screen shot 2016-06-06 at 11 35 53 am" src="https://cloud.githubusercontent.com/assets/12194646/15811408/e898d2fe-2bda-11e6-92fb-804eb2c9ed85.png">

Read More links to http://node-os.com/blog/get-involved/,  but the link is broken.

[2016-06-07 03:17] lite20 commented on #246
@piranna how to update the webpage?

[2016-06-07 03:20] lite20 commented on #244
Congrats! I'm still grounded ;-; 2 months (ish) now, but do enjoy your time!

[2016-06-07 03:21] lite20 commented on #231
Can I hand this task off to someone else?

[2016-06-07 03:35] lite20 opened #247 "NodeOS auto-updater"
I thought this might be a cool module to create. I wouldn't suggest we include it with NodeOS simply to remain simplistic but it could be installed by users. Optimally, the module would simply check for updates on the startup of a NodeOS session. This would be nice for users using a bare-metal installation. The installer would of course run within NodeOS.

I have a few questions however. Is this f

[2016-06-07 03:36] lite20 commented on #240
Status?

[2016-06-07 07:58] piranna commented on #240
Not started :-) Do you want to take it?

[2016-06-07 16:21] luii commented on #247
I kinda like the idea!
On system startup it just should check if newer version are available and notifiy the user but it should not install on its own!
It should install the updates when the system shuts down, but before shutting down it should ask if you want to install updates

But we should seperate system updates and package updates because the system updates like newer kernel and such things

[2016-06-07 20:42] piranna commented on #247
The more I think about it, the more I think it's a fantastic idea :-D Obviously this would not be on the core of NodeOS, but it would be nice to provide a module that users would install if they want.

I'm used to use the [npm-check-updates](https://github.com/tjunnone/npm-check-updates) module and works like a charm :-D so we could be able to use it to be able to check and update all the globally

[2016-06-07 20:46] piranna commented on #231
It's not assigned to anybody at this moment.

[2016-06-07 21:02] Coretool commented on #231
Isn't it possible to use syslinux for this ? Since I'm playing around with syslinux in order to change the keyboard layout, I could try this too...

[2016-06-07 21:05] piranna commented on #231
Not sure... I know SysLinux can be used to show an image, but when the kernel gets running, probably they will overwritte the framebuffer :-/ You can take a look on it if you want, we don't loose anything :-)

[2016-06-08 18:21] luii opened #248 "nodeos-init musl command not found"
I've got that error with Arch Linux

[code]

[2016-06-09 04:26] Coretool commented on #248
Try to install `nodeos-barebones` again ?!

[2016-06-09 07:06] luii commented on #248
I just cloned the repo and got  this

[2016-06-10 01:45] lite20 commented on #231
Where is the syslinux setup in NodeOS? And we could disable kernel output... then the image would be there until the terminal appeared :stuck_out_tongue:

[2016-06-10 04:21] Coretool commented on #231
That's what I was thinking about... But changing the actual logo is way more efficient ...

[2016-06-10 05:10] lite20 commented on #247
This is interesting discussion! Let's continue. As school comes to a close I will finally be able to continue contributing, and as I now have a few users who've opted in to beta test NodeOS-mobile the auto-updater seems more than reasonable.

It should install the updates when the system shuts down, but before shutting down it should ask if you want to install updates

Interesting suggestion! With

[2016-06-10 05:11] lite20 commented on #231
@Coretool hahah I'd do it but I'm just keep getting lost in the process

[2016-06-10 05:12] lite20 commented on #240
Yeah, sure!

[2016-06-10 05:31] piranna commented on #231
Nodeos-rootfs

the terminal appeared 😛

You can do it with the -quiet flag as kernel parameter.

[2016-06-11 04:32] lite20 commented on #232
@piranna simply correct the formatting errors that it can find, dump them to a temporary file as it parses the script. When done, I'll have it replace the old file with the new updated file, and report any changes it couldn't make on it's own. I'll probably have this as an optional feature.

[2016-06-11 05:30] lite20 opened #249 "NodeOS Build Error"
Hit an error compiling NodeOS:

Compiling init
make: x86_64-nodeos-linux-musl-gcc: Command not found
make: *** [init.o] Error 127
rmdir: failed to remove ‘/home/triplebackslash/Documents/NodeOS/node_modules/nodeos-barebones/build/nocona’: No such file or directory

npm ERR! Linux 3.16.0-73-generic
npm ERR! argv "/home/triplebackslash/.nvm/versions/node/v4.0.0/bin/node" "/home/triplebackslash/.nvm/

[2016-06-11 07:11] luii commented on #249
I've got that too: #248
This happens everytime i try to build (docker, qemu, etc)

[2016-06-11 09:45] piranna commented on #249
Do you get the same with the latest code? I have been doing some changes go
use prebuild-install by default in everything but maybe I didn't get gime
to finish it yey and probably I broke something... :-(
El 11/6/2016 9:11, "Philipp Czarnetzki" <notifications@github.com> escribió:

[2016-06-11 09:49] piranna commented on #232
Eslint has an option to auto-correct some of the most trivial and common cases, so maybe it's not needed to create a new tool :-) Anyway I think it's better to don't do the autocorrection automatically by default, I have been forced to do it in the past and it works, but you mostly feels the code as it has been written by other if you don't config it correctly.

[2016-06-12 00:40] piranna commented on #249
Could both of you try again? Seems my latest changes are working on the CI server... I need to fix the publication of new prebuild releases, though.

[2016-06-12 00:41] piranna commented on #243
This should be fixed now in master, clossing. Re-open it if it's not working for you.

[2016-06-12 00:41] #243 closed

[2016-06-12 00:45] piranna commented on #223
We are using `prebuild` everywhere now, so I think this can be clossed... What do you think @luii ?

[2016-06-12 00:46] piranna commented on #221
npkg and http://linux-x86.node-os.com repo are both deprecated since a long time ago, clossing.

[2016-06-12 00:46] #221 closed

[2016-06-12 00:49] piranna commented on #220
I have started to accept some of the docs pull-requests, so I'll close this.

[2016-06-12 00:49] #220 closed

[2016-06-12 00:52] piranna commented on #225
Master should have now some support to use vagrant as build environment, but needs some more testing, it's painfully slow and I don't have a powerful machine to give it more time, so I'll close this. By the moment, the recomended build environment is still to use Ubuntu running on real hardware.

[2016-06-12 00:53] #225 closed

[2016-06-12 00:55] piranna commented on #218
master now don't have the cross-toolchain inside barebones but instead it's an independent module, and also I'm improved the support of having the dependencies anywhere, could you be able to check again if it works with npm 3?

[2016-06-12 00:56] piranna commented on #212
This should be already fixed in master, clossing.

[2016-06-12 00:56] #212 closed

[2016-06-12 00:58] piranna commented on #205
Any progress with that?

[2016-06-12 01:00] piranna commented on #93
Done in master using `prebuild-install` instead, clossing.

[2016-06-12 01:00] #93 closed

[2016-06-12 01:08] timmbrooks commented on #218
Good to hear.  I'm traveling but will be able to pull and test tomorrow.  Will advise.

[2016-06-12 02:32] lite20 commented on #205
Has this error ever re-occured? I can take a look right now.

[2016-06-12 02:35] lite20 commented on #218
I'd run the test but am likely to hit errors not even related to npm3's existence

[2016-06-12 02:40] lite20 commented on #249
New error:

Compiling Linux
Makefile:340: scripts/Kbuild.include: No such file or directory
/bin/bash: ./scripts/gcc-goto.sh: No such file or directory
Makefile:785: scripts/Makefile.kasan: No such file or directory
Makefile:786: scripts/Makefile.extrawarn: No such file or directory
Makefile:787: scripts/Makefile.ubsan: No such file or directory
make: *** No rule to make target 'scripts/Makefile.u

[2016-06-12 06:37] luii commented on #249
This is my error:
[code]

[2016-06-12 06:37] luii commented on #249
clicked the wrong button sorry

[2016-06-12 08:25] piranna commented on #249
Try executing first 'npm install --ignore-scripts' to only download the
dependencies, npm2 is not determinist about the order they are execured.
El 12/6/2016 8:37 AM, "Philipp Czarnetzki" <notifications@github.com>
escribió:

[2016-06-12 08:26] piranna commented on #205
I have been using npm from inside NodeOS without problems...
El 12/6/2016 4:32 AM, "Lite McFish" <notifications@github.com> escribió:

[2016-06-12 08:50] luii commented on #249
First got this after i executed it:

[code]

Then i installed NodeOS/nodejs

and got only this:
[code]

[2016-06-12 15:31] Coretool commented on #231
Is it okay if we store the NodeOS logo (in `ppm` format) at the `NodeOS/media` repo and download it when the kernel is downloaded ?

[2016-06-12 20:01] piranna commented on #231
Yes, it's ok :-)

[2016-06-12 20:35] lite20 commented on #205
Let's close it for now, but if this re-occurs assign me to it.

[2016-06-12 20:35] #205 closed

[2016-06-12 21:03] piranna commented on #247
In this way, we could also configure nightly tasks to check external dependencies like new versions of the Linux kernel or of Node.js so new packages could be created and published automatically, and the auto-updater could be able to fetch them and have an up-to-date system without having any human harmed or involved in the process :-)

[2016-06-12 21:13] lite20 commented on #247
haha, well said! Sounds like an excellent idea! Let's start at PR for it.

[2016-06-12 21:13] lite20 commented on #247
And maybe we ought to create a thread too? We could just use the PR thread?

[2016-06-12 21:15] piranna commented on #247
Maybe better an independent project, not inside NodeOS core. Remember, modularity and reusability ;-) This could be used on regular Node.js installations, too :-)

[2016-06-12 21:24] piranna commented on #247
[code]

Seems it only last the last mile... :-) Two options, to do a pull-request on npm-check-updates to add that functionality (that since they only update the `package.json` file and don't do the updates themselves probably it would be discarded), or create a new project using it as dependency that does the real updates.

[2016-06-12 22:41] lite20 commented on #247
@piranna I was referring to creating a PR for mounting rootfs as boot :P

[2016-06-12 22:51] piranna commented on #247
Oh, I though you were talking about the auto-updater. They are two independent and unrelated things, and in fact mounting rootfs as `/boot` don't have too much mistery and it's just a matter of a single line of code, that's why I was not thinking about it... I will accept your pull-request when you have it ready, but we should focus on the auto-updater tool since it's needed first to have it worki

[2016-06-12 23:12] lite20 opened #251 "Hit a REPL"
On the latest prebuild, I hit a REPL. The error provided is as so:

[code]

I had to retype that out by hand so I hope it's useful!

[2016-06-12 23:14] lite20 commented on #247
Git has made no progress from my understanding. I'm contemplating taking it on in the summer.
Nsh update :P no idea!

And yes I'm working on the auto-updater as we speak on 'noUpdate' repo on my page. I know what needs to be done for mounting but if you have a free hand right now, we could save manpower if you went ahead and did it right now.

(I'd have to go hunt which file needs changes because

[2016-06-12 23:21] piranna commented on #251
Uh-oh... what system are you using to run it? 32 bits or 64?

I got this recently on 32 bits (also on somewhat old prebuilds!!!) and seems to be related to an update on Linux kernel OverlayFS code, that now requires underlying read-write layer filesystem `stat()` function to support the `d_type` field without a fallback although it's only a dir listing time optimization... and almost nobody implem

[2016-06-12 23:23] piranna commented on #247
`nodeos-mount-filesystems` repo. It should be done only for `root` user, if you want I can be able to do this myself and you work on the `noUpdate` project.

[2016-06-12 23:30] lite20 commented on #251
I'm running Qemu x86_64 so that's 64bit. Time to run on bare-metal

[2016-06-12 23:31] piranna commented on #251
http://www.spinics.net/lists/linux-fsdevel/msg94791.html

Here you have the culprit :-(

[2016-06-13 02:20] timmbrooks commented on #218
I got to build.  I had to step into nodeos-rootfs, -usersfs, -barebones, -initramfs and do 'npm install' separate (I didn't find anything in 'out' directory) and for -usersfs I had to 'npm rebuild'.  When using npm start after everything built, I kept getting qemu error:
`qemu-system-x86_64: error while loading shared libraries: libgnutls.so.26: cannot open shared object file: No such file or dire

[2016-06-13 03:34] lite20 commented on #251
@piranna hm. Well, what do we do?

[2016-06-13 08:51] piranna commented on #218
Well, these are good news... sort of :-)

The problem on this issue (cross-toolchain was disappearing) is fixed since now the cross-toolchain is an independent module, but NodeOS build system is not yet npm3 ready because they changed the lifecycle and now it seems the `install` step is only executed once when installing a module, but no more when it's finally installed in place. Could you be able

[2016-06-13 20:54] piranna commented on #251
I'm not sure. We could go back to previous versions of Linux kernel to check if it gets fixed, but maybe the optimal solution would be to try to directly fix it. Until that, maybe we could try to work in other areas and improve tests so it doesn't happens again and we can get a quick notification of similar problems. Anyway, I'll try to get it a look (again... :-( ).

[2016-06-13 20:55] piranna commented on #251
We have others things to work about, like the git client or noGui or noUpdate, so although we are not able to test it directly over NodeOS at this moment, we don't have a chance to get bored too ;-)

[2016-06-13 21:31] piranna commented on #251
https://lkml.org/lkml/2016/5/16/23

Seems we are not alone... On the other hand, seems it would be fixed by enabling the usage of extended attributes when mounting the users partition, but this will need to be tested.

[2016-06-13 22:08] lite20 commented on #251
@piranna I guess we could give it a try. I'll see to finishing noUpdate now. Should we use the npm module or should we just issue commands ourselves?

[2016-06-13 22:19] piranna commented on #251
It's better to use the npm module instead of launching commands.
El 14/6/2016 12:08 AM, "Lite McFish" <notifications@github.com> escribió:

[2016-06-14 08:48] piranna commented on #218
I have just check it and confirmed: npm3 only execute `preinstall`, `install`, `postinstall` and `prepublish` scripts on the root project, not its dependencies, so it's assumed that once a dependency is installed its "frozen" and in a good state.

This will make us change the build process, but hopefully not so bad, mostly use `install` script to only download the dependencies and later do the bui

[2016-06-14 17:13] timmbrooks commented on #218
Sorry I didn't get to this.  I spent a little extra time.  Last effort worked:

npm install && npm rebuild && npm install
I haven't investigated much the build process, but firing install after rebuild does something.  Perhaps this might suggest a workaround?  Perhaps this also is paraphrasing what you suggest as well.

[2016-06-14 17:24] piranna commented on #218
Sort of. On npm2 sometimes I got problems because dependencies are not
fully installed before one module start to install, so executing 'npm
install --ignore-dependencies' first so everything is correctly downloaded
fix it. The same way, by splitting the install and build steps will have in
general the same behaviour, so I think this is the way to go.
El 14/6/2016 19:13, "timmbrooks" <notification

[2016-06-16 17:37] luii commented on #67
@piranna Since here is no progress since march i'd have started my own git client for NodeOS.
https://github.com/luii/nogit and i will maintain this repository, so you can tick the git client on the [Alpha](https://github.com/NodeOS/NodeOS/issues/37)

[2016-06-16 17:46] piranna commented on #67
Thanks for the initiative :-) How do you plan to do it? Do you have some
working code? I think it would make sense to mark the tick when we have the
basic functionality needed by npm, what do you think?

And thanks for give me pressure to try to do something with the nsh
rewrite... :-P
El 16/6/2016 19:37, "Philipp Czarnetzki" <notifications@github.com>
escribió:

[2016-06-16 17:55] tylerl0706 commented on #67
@luii thanks for the initiative! I haven't had time to really make any progress. After I graduated in May, I've been traveling around Europe. @piranna not Spain unfortunately :P I'll check things out when I get all settled in to my new apartment in about a month.

[2016-06-16 18:01] luii commented on #67
@piranna indeed i have working code! Sometimes i search through the NodeOS issues and look for things that interest me.

[2016-06-16 18:09] piranna commented on #67
interest me.

That's the way I intended people to collaborate :-) Maybe should I put it
more clear on the readme?

[2016-06-17 03:44] lite20 opened #252 "Release 2016-06-16 Empty"
The release 2016-06-16 contains nothing but a README and a run script in each of its packages. Why is this?

[2016-06-17 04:12] lite20 commented on #67
more clear on the readme?

I assume that by default that's what everyone does, but it wouldn't hurt to add it. :)

[2016-06-17 04:20] lite20 commented on #247
Alright, I've got a prototype of the updater on it's repo [noUpdate](https://github.com/lite20/noUpdate). What I have so far, is it reads it's config (I'm not sure where you'd like that to go. Where did we put the PalmTree configuration again?) and updates all the packages listed in it.

It first runs ncu on the package.json, then runs an npm install to update it.

Possible adjustments could be ha

[2016-06-17 08:03] piranna commented on #252
Good catch. I'm doing some huge (but cool ;-) ) changes and somethings are getting broken, but I hope they will be for good :-) I've just removed it :-)

[2016-06-17 08:03] #252 closed

[2016-06-17 08:23] piranna commented on #247
`/etc` directory, as always.

Far better. I would check if we are inside a project (there's a `package.json` file on this folder or previous ones, `npm` does it this way so there's a module for it but don't remember the name, maybe `ncu` does it itself) and update its dependencies, or if not update the global ones. To fetch the list of modules I would use the `npm` module to fetch just the first l

[2016-06-17 14:23] Coretool commented on #231
What size shall the logo be ?

[2016-06-17 14:34] piranna commented on #231
The standard is 80x80 pixels, we could look later to use a bigger one.

Remember to use as basis to generate the logo the SVG file, it has the
correct colors!
El 17/6/2016 16:29, "John Green" <notifications@github.com> escribió:

[2016-06-17 15:54] Coretool commented on #231
Sent pr for the `logo.ppm`

[2016-06-17 16:33] piranna commented on #231
Merged

2016-06-17 17:54 GMT+02:00 John Green <notifications@github.com>:

--
"Si quieres viajar alrededor del mundo y ser invitado a hablar en un monton
de sitios diferentes, simplemente escribe un sistema operativo Unix."
– Linus Tordvals, creador del sistema operativo Linux

[2016-06-17 18:02] luii commented on #251
@piranna RC1 still has a repl error (same error described above)

[2016-06-17 18:05] piranna commented on #251
Yeah, I know. Don't trust the mark RC1, I forgot to add it in november ;-)
When I finish the changes I'm doing and if we get to fix this, it will
became RC2.
El 17/6/2016 20:02, "Philipp Czarnetzki" <notifications@github.com>
escribió:

[2016-06-17 18:13] luii commented on #251
oh okay

[2016-06-17 18:16] piranna commented on #251
What could you suggest to fix this? Seems is a Linux kernel issue... I'm
not sure if it will be fixed in the next major, there are some changes
about it, or maybe it could be fixed with a mount option...
El 17/6/2016 20:13, "Philipp Czarnetzki" <notifications@github.com>
escribió:

[2016-06-17 19:51] lite20 commented on #252
Ah okay! If you'd like, next time there's a blank I can remove it myself? Save you the time.

[2016-06-17 19:52] lite20 commented on #251
not sure if it will be fixed in the next major, there are some changes
about it, or maybe it could be fixed with a mount option...

Potentially we could patch it? I can't say I understand the error 100% but if we're going the patch route I'd probably read a bit on it.

[2016-06-17 20:00] lite20 commented on #247
Gotcha

Okay so you're suggesting to see if we're already in a package and if not, proceed to updating all the globals. Yeah that makes sense, okay. We could also add a parameter to specify which modules to update.

I wanted to see if there was an elegant one-line solution similar to Object.values() but there isn't so yeah I'll just iterate.

[2016-06-17 21:55] piranna commented on #251
And... fixed! :-D

I found that the problem was introduced in [that kernel patch](https://patchwork.kernel.org/patch/8906821/), that checks the filesystem has support for `d_type` field, that's only available on Ext2/3/4 and Btrfs. This field improve performance by adding a field to store the filetype in the direntry and don't need to call `stat()` for each file, and it's used by OverlayFS to chec

[2016-06-17 22:43] piranna commented on #247
Yes, but don't obsess with that, focus first on the default functionality without parameters to upgrade the globally installed modules, that's what will be used more.

Oh, and please use the `npm` module (or the specific dependency) instead of `enpeem` to do the install.

[2016-06-17 22:45] piranna commented on #249
This will be fixed on the RC2.

[2016-06-17 22:45] #249 closed

[2016-06-18 06:10] lite20 commented on #247
I actually reverted to using the command-line because that's what npm said to do. (The api is apparently only to be used internally and will not remain stable)

[2016-06-18 06:13] lite20 commented on #251
awesome! Closing for completion.

[2016-06-18 06:13] #251 closed

[2016-06-18 08:29] piranna commented on #251
Cool ;-)
El 18/6/2016 8:13, "Lite McFish" <notifications@github.com> escribió:

[2016-06-18 08:29] piranna commented on #252
Ok, that would be cool :-)
El 17/6/2016 21:51, "Lite McFish" <notifications@github.com> escribió:

[2016-06-18 08:31] piranna commented on #247
Could you be able to point me where it says so? I think it's a bad design,
specially if they are splitting npm in a lot of micromodules...
El 18/6/2016 8:10, "Lite McFish" <notifications@github.com> escribió:

[2016-06-18 17:33] Coretool commented on #231
Ok, I've got the logo, I've got the patches. Now when does the Linux kernel get compiled ? Can't figure it out. Is it `nodeos-barebones` ?

[2016-06-18 18:17] piranna commented on #231
Yes, nodeos-barebones :-) Apply the patch on the install script and create
a pull-request on its own repo ;-)
El 18/6/2016 19:33, "John Green" <notifications@github.com> escribió:

[2016-06-19 05:57] lite20 commented on #247
@piranna here is one place where it's quoted from the doc. I could probably go find it in the docs but I'm about to go to sleep :stuck_out_tongue:

http://stackoverflow.com/questions/15957529/can-i-install-a-npm-package-from-javascript-running-in-node-js/15957574#15957574

[2016-06-19 07:44] piranna commented on #247
Sh*t... Problem is NodeOS don't have npm installed by default (and
specially to root user), so we could not be able to use the command, we
need to set it programatically and download as dependency... :-/
El 19/6/2016 7:57, "Lite McFish" <notifications@github.com> escribió:

[2016-06-19 19:39] lite20 commented on #247
@piranna. Oh, no problem. I'll rip the install command right out of npm then and grab all it's dependencies.

[2016-06-19 22:10] lite20 commented on #247
@piranna easier said than done. I'm trying to see if I can mimic npm's install command.

[2016-06-19 22:20] piranna commented on #247
Seems npm update does almost all we need here... I think we should think
calmly what exact features and behaviour we want it to have and what use
cases it should fix.
El 20/6/2016 0:10, "Lite McFish" <notifications@github.com> escribió:

[2016-06-19 22:48] lite20 commented on #247
@piranna well from my understanding, the goal of noUpdater is to create an auto-updater for npm packages. Originally I had intended for it to be used to update the base NodeOS system so we would have to keep fetching new releases from git, but have the system automatically update itself (just as Android updates itself).

That's why originally there was a list of programs to update; this way only r

[2016-06-20 01:36] piranna commented on #247
I think all can be done with 'npm update -g', so what extra functionality
would it do? Ask to the user? Download at shutdown?

I think we have here four main use cases:

1. Users own global modules
2. Root own global modules
3. System core (kernel + initram)
4. Users local modules

1 & 2 are somewhat the same and feasible with 'npm update -g', and the same
happens with 4, only that from the docs I

[2016-06-20 02:01] lite20 commented on #247
Alright sounds good. I'll close this here, and let's open a new thread for each feature so they can be discussed in depth.

[2016-06-21 09:09] piranna opened #253 "x32 port"
Create a port x32 platform

[2016-06-21 13:07] piranna commented on #67
[gitkit](https://github.com/SamyPesse/gitkit-js) is a new implementation of git in pure Javascript, maybe we can use it for the git client of NodeOS? If so, probably it would be happily accepted on npm itself... :-)

/cc @SamyPesse

[2016-06-21 14:56] SamyPesse commented on #67
@piranna What is your use case exactly ? Provides a Git cli inside the NodeOS ? or provides a Git library for other tools to use it?

[2016-06-21 15:09] piranna commented on #67
First, provide a `git` cli command compatible with the oficial one available in other OSes (same arguments, flags, parameters...) just with the basic functionality needed by `npm` to work with git repos (you have a list of them on this issue), and after that in the long term, if possible add this functionality directly on `npm` itself so there will be no need for a external `git` command both on N

[2016-06-21 15:26] SamyPesse commented on #67
GitKit is not ready for this, but feel free to add issues for:

[code]

I think all of these can be implemented with a few days of work.

[2016-06-21 16:55] piranna commented on #67
[Done](https://github.com/SamyPesse/gitkit-js/issues/5) :-)

[2016-06-22 00:46] lite20 commented on #253
Do we only have x86? What are your motives behind creating a x32 variant? (Out of curiosity).

[2016-06-22 00:53] #247 closed

[2016-06-22 05:58] piranna commented on #253
Currently ia32 (x86) and x86_64 (amd64), I got the kernel to compile and
boot for arm but didn't get it to work correctly.

x32 generates 64 bits code the same way as x86_64 but using pointers and
ints of 32 bits, using less memory (similar to ia32), so you get the best
of both worlds. The only drawback it has is that although being 64 bits
process can manage only up to 4GB of ram, but I find this

[2016-06-22 13:16] piranna commented on #245
I have give a try to the `nsh` rewrite on Node.js 6.2.2 and definitely it doesn't output anything at all... :-/ Bad thing :-(

[2016-06-22 21:14] lite20 commented on #253
@piranna ah mkay. So is it 4 gigs of ram per node process? Would there be a way to escape into the 64bit space and use more ram?

What would we have to accomplish in order to get a working x32? I'm assuming that ia32 and x32 aren't the same thing?

[2016-06-22 21:15] lite20 commented on #253
@piranna are you referring to the x32 ABI? Maybe we should mention "ABI" for clarity, because I a bit confused at first, and others probably will be also.

[2016-06-22 21:24] lite20 commented on #253
@piranna so I did some research to see where v8 stands in terms of x32 support and there's a **lot** of work that would go into porting to the x32 abi platform. Here's an extract from a thread discussing porting to the x32  abi with one of the v8 developers:

The whole thread is here: https://groups.google.com/forum/#!topic/v8-users/c-_URSZqTq8
We can attempt to undertake the port as a third party

[2016-06-22 21:26] lite20 commented on #245
@piranna does the module [blocking-stdio](https://github.com/juliangruber/blocking-stdio) help at all? Have you tried using it? What's nsh's state by the way? Does it work now :smile: ?

[2016-06-22 21:30] lite20 commented on #240
Taking a shot at this now.  Has QEMU been wrapped in a npm module yet or do I need to create that too?

[2016-06-22 21:36] piranna commented on #240
Do a search on npm for the qemu package ;-)
El 22/6/2016 11:30 PM, "Lite McFish" <notifications@github.com> escribió:

[2016-06-22 22:00] lite20 opened #254 "kexec fails to compile"
Unfortunately, the build process is still fighting me. At the moment, kexec fails to compile apparently with legitimate code errors. Do I need to use a different npm version? Error: http://pastebin.ubuntu.com/17719186/

[2016-06-22 22:01] #254 closed

[2016-06-22 22:02] lite20 commented on #254
Was using the wrong node version :)

[2016-06-22 22:02] piranna commented on #253
Yes, the same as in ia32/x86.

No, because pointers are of 32 bits :-)

As you could have already seen, no, they are not the same thing ;-)

Good idea, thanks by changuing the issue title :+1:

Or we could simply just use the [correct arch option on Node.js](https://github.com/nodejs/node/blob/efebd0b79d930c50217caaddf1d245d510937bb0/configure#L32-L33) ;-)

[2016-06-22 22:03] piranna commented on #245
No, I didn't tested it.

Let's hope it does... :-)

[2016-06-22 22:04] piranna commented on #254
Kexec was giving me lately some ugly problems... :-/ Maybe we are giving
too much pressure on the build mechanism?
El 23/6/2016 12:02 AM, "Lite McFish" <notifications@github.com> escribió:

[2016-06-22 22:15] lite20 commented on #254
@piranna what do you mean by that?

[2016-06-22 22:17] piranna commented on #254
Problems with node-gyp where memory rampaged.
El 23/6/2016 12:15 AM, "Lite McFish" <notifications@github.com> escribió:

[2016-06-22 22:20] lite20 commented on #254
@piranna oh! Yeah the memory usage of the build process is remarkable. Are there ways that we could shrink it? What exactly is it that's eating so much memory? Only node-gyp?

[2016-06-22 22:44] piranna commented on #254
Memory is mostly wasted by 'download' module, since it cache the full file
in memory. Seems it now support streams, so if you want to update
'download-manager', go for it.
El 23/6/2016 12:20 AM, "Lite McFish" <notifications@github.com> escribió:

[2016-06-22 22:50] lite20 commented on #253
Once I found out you were reffering to the ABI it all made sense.

Gee, I know programs that will easily bust the 4 gigs of ram limit, especially on servers. Maybe we ought not deprecate the 64bit version to support said cases. If done right, three platforms shouldn't be too much to maintain?

[2016-06-22 22:53] lite20 opened #255 "ENOENT Build script error"
I hit the following error while compiling NodeOS. It appears like a misconstructed path and I'm going to go look into it right now and see if I can fix it myself.

npm ERR! Linux 4.2.0-27-generic
npm ERR! argv "/usr/bin/nodejs" "/usr/bin/npm" "install"
npm ERR! node v4.4.5
npm ERR! npm  v2.15.5
npm ERR! path /home/lite/Documents/NodeOS/node_modules/nodeos-usersfs/node_modules/genext2fs/genext2fs
n

[2016-06-22 23:08] lite20 commented on #254
@piranna will do. Could you tackle the new error I hit? I'm not finding the cause right off the bat, and since error's aren't reported with the line that called it... :P

[2016-06-23 00:00] piranna commented on #254
You can find the line by searching the exit status. Anyway it should be
already fixed.
El 23/6/2016 1:08 AM, "Lite McFish" <notifications@github.com> escribió:

[2016-06-23 00:07] piranna commented on #253
No, they shouldn't only just to give x86_64 a little bit less love ;-)
Anyway, I find a single theaded process more than 4GB of data a little bit
bad designed... I vet it could be parallelized some way on several
simultaneous process and use several cores.
El 23/6/2016 12:50 AM, "Lite McFish" <notifications@github.com> escribió:

[2016-06-23 00:36] lite20 commented on #253
@piranna each thread can use 4GB? Mkay that makes a bit more sense. It's generally communication servers that will bust that 4GB mark.

[2016-06-23 00:36] lite20 commented on #254
@piranna awesome I'll pull and try again.

[2016-06-23 00:51] piranna commented on #253
Threads share the memory region, so no, apps using threads will still be
limited to 4GB.
El 23/6/2016 2:36, "Lite McFish" <notifications@github.com> escribió:

[2016-06-23 00:56] lite20 commented on #253
@piranna just when I was beginning to understand hahaha. Okay, so that's what I had originally thought. What's your opinion of Minecraft servers than which will use 16gb RAM if it's available? :P

[2016-06-23 01:01] piranna commented on #253
Probably they are not single threaded ;-) Is there any of them build in
node.js?
El 23/6/2016 2:56, "Lite McFish" <notifications@github.com> escribió:

[2016-06-23 20:02] lite20 commented on #253
XD no, I don't think so, and I sure hope they aren't single threaded but I thought you said all threads of a program share the same heap?

[2016-06-23 21:24] piranna commented on #253
Yes, al threads on a program share the heap, that's why they are usually
faster for intercomunication but also more insecure.
El 23/6/2016 10:02 PM, "Lite McFish" <notifications@github.com> escribió:

[2016-06-24 19:45] lite20 commented on #253
ah okay that makes sense @piranna. Comming from my high-level programming to low level programming always leaves a few knowledge gaps. Thanks for helping me out :stuck_out_tongue:

[2016-06-24 20:02] piranna commented on #253
You are welcome :-) I always loved to know the low level bits, so... :-P

[2016-06-24 21:39] lite20 opened #256 "v1.0.0-RC2.2016-06-24 partly faulty?"
I'd like to bring the lastest release v1.0.0-RC2.2016-06-24 into question.

Upon first running it, I noticed initramfs is gone, but assumed this was intentional. I first attempted to run it but it failed.

The run.sh packaged in this release attempts to run NodeOS with 'qemu-system-i386'. This will fail as QEMU complains that the kernel is 64 bit. To solve this, edit the run.sh to instead use 'qem

[2016-06-24 21:43] piranna commented on #256
I'm getting some problems to get RC2 to work due to all the architecture
changes. They are for the better of course, but didn't know there was so
much tiny bits to fix before due to it... :-/
El 24/6/2016 23:39, "Lite McFish" <notifications@github.com> escribió:

[2016-06-24 21:45] lite20 commented on #256
Ah okay, completely alright. Is it possible to update the run.sh without having to compile the entire system again?

[2016-06-24 21:51] lite20 commented on #256
I'm assuming the breaking i386 wasn't intentional. Ought I go grab the error and create a thread?

[2016-06-24 21:54] piranna commented on #256
Yes, it's not intentional. I'm trying to use prebuild for everything and
test each layer independently and this kind of things should not happen
again in the future, but it's not easy... :-P
El 24/6/2016 23:51, "Lite McFish" <notifications@github.com> escribió:

I'm assuming the breaking i386 wasn't intentional. Ought I go grab the
error and create a thread?

—
You are receiving this because you c

[2016-06-25 23:44] piranna opened #259 "1.0.0-RC2"
Just exactly one month after my degree thesis (with distinction, f*ck yeah ;-) ) and with a lot of nights without sleep, we have available [NodeOS 1.0.0-RC2](https://github.com/NodeOS/NodeOS/releases/tag/v1.0.0-RC2).

There has been some problems lately with the packages and the build process, but they are due to the heavy changes on the architecture that I hope they are going to be better for the

[2016-06-25 23:54] lite20 commented on #259
A

[2016-06-25 23:56] lite20 commented on #259
About time! Yaay!

Haha hey look mom, it's me!

This is fantastic! A completely automated self-maintained system on it's way! The auto-updater will seal the deal ;)

There we go! Now we're a bleeding edge distro! The leading edge of technology, like we were always supposed to be!

Let's go! :D

[2016-06-26 00:03] lite20 commented on #256
Closing as this has been discussed.

[2016-06-26 00:03] #256 closed

[2016-06-26 00:06] lite20 opened #260 "Face-lift the node-os.com website?"
Hi! We have a lot of front-end developers lurking around NodeOS and as nice as the website is, it could certainly be more polished and more responsive.

I'm suggesting we give the website a nice face-lift and polish it off as we welcome people to our shiny 1.0.0-RC2 release! If needed, I'd love to lead the creation of the new page, and involve all our talented front-end designers that I know sit a

[2016-06-26 00:17] piranna commented on #259
Lol! X-D

Totally, in fact the cherry on the top of the cake would be to end up having [semantic release](https://github.com/semantic-release/semantic-release) :-D But it will be tough the get up to it in a sane and stable way... By splitting the layers in several projects tests have improved a lot, but they are a pain in the *ss and since now I will not have so much time as before due to work and

[2016-06-26 00:24] piranna commented on #256
:+1: Also it should be already fixed in master.

[2016-06-26 00:25] piranna commented on #260
I was going to assign it to you, but I've seen you have done it already :-P

[2016-06-26 00:26] lite20 commented on #260
Yay! Okay, is the website hosted on github pages?

[2016-06-26 00:29] piranna commented on #260
[Yep](https://github.com/NodeOS/nodeos.github.io) :-)

[2016-06-26 00:34] piranna commented on #241
I tried to automate this without luck, because it's possible to give kernel parameters only when starting QEmu with the `-kernel` argument, not directly from the ISOs. Only two options would be to use an external kernel, or add an option to the ISOs bootloader.

[2016-06-26 00:35] lite20 commented on #259
haha yeah that's not a bad idea!

Yeah! Even more a reason to get it to manage itself haha!

Ah you should check out some of my side projects if you have time; I feel you'd like them! HexCade for example, is an attempt to make a VM language but it implements a few awesome features most languages don't have and handles threads beautifully ^_^

[2016-06-26 00:37] lite20 commented on #241
Both seam like reasonable ways of handling it. If we want to test the included kernel it's probably better to use add an option to the ISOs bootloader.

[2016-06-26 00:38] lite20 commented on #260
Okie dokie! I'll get to work then! Time to awake those slumbering front-end dev's

[2016-06-26 00:38] #260 closed

[2016-06-26 00:41] piranna commented on #259
There are several problems, like who is payed and how. Up this moment, beside the site domain that got payed by @groundwater (and anyway it's cheap) it's everything working on free services so there's no costs here, so it would make more sense to get sponsors to pay work hours or to fix some issues, but that's difficult to find and to do in a fair and ethical way... :-/ This would need a discussio

[2016-06-26 00:42] lite20 opened #261 "Refresh the Website!"
Hi! Are you a front-end web developer? Now is your chance for you and your buddies to contribute to NodeOS (without having to decipher underlying technology in the build process; double win!)

We're redesigning our website and would love to have the talent's of all the developers combined! The first step, of course, would be to design a new page so let's use this thread and create a new idea. You

[2016-06-26 00:43] lite20 commented on #260
@piranna can I would tag it as a blog post but I'd like people to see the RC2 post, so we can tag the website thread tomorrow?

[2016-06-26 00:43] piranna commented on #241
Problem with that, how to pass the option to the bootloader? From the machine/emulator point of view, it's like another OS... :-/ Maybe an external bootloader? Is something like this?

[2016-06-26 00:45] piranna commented on #260
Yes, let's wait some days.

[2016-06-26 00:46] piranna commented on #261
Put it on tweeter too ;-)

[2016-06-26 00:47] lite20 commented on #259
[Here you go!](https://bitbucket.org/Lite20/hexcade)

P.S. I'm still organizing things and I'll probably split HexCadi and Unipop into two separate projects but if you have any questions about how underlying technologies work (especially the one's I haven't written yet) just create a thread! Create many threads if you so please!

[2016-06-26 00:52] lite20 commented on #261
@piranna don't you own the NodeOS twitter account? or is that @groundwater (who I never see around :( )

[2016-06-26 03:14] lite20 commented on #241
@piranna how do you use external things with QEMU?

[2016-06-26 03:15] lite20 commented on #241
I think the prebuilds may be something that we humans need to physically test, which I don't mind as I test every prebuild anyway.

[2016-06-26 08:15] piranna commented on #241
What kind ones?

[2016-06-26 08:18] piranna commented on #241
test, which I don't mind as I test every prebuild anyway.

Yes, but it's better if we can be able to automate it.

Seems syslinux has a SERIAL option that open a serial port and allow to
control it, if that's possible we could be able to add a timeout and use
that time window to add the 'console=ttyS0' kernel option so we could be
able to test the ISO images :-)

[2016-06-26 09:44] piranna commented on #259
Why it's needed the preprocessor? Almost no languaje use them today or have
them integrated in the languaje itself...
El 26/6/2016 2:47, "Lite McFish" <notifications@github.com> escribió:

[2016-06-26 09:47] piranna commented on #261
It was created by @groundwater (that started the project and now is working
on runtime.js), but I have access to it to publish oficial things. When I
was talking about say it on Twitter, I was asking about you asked gor help
there and later I could ve able to retweet ;-)
El 26/6/2016 2:52, "Lite McFish" <notifications@github.com> escribió:

[2016-06-26 10:30] piranna commented on #261
What about doing it using [BOOTSTRA.386](https://github.com/kristopolous/BOOTSTRA.386)? :-P

[2016-06-26 20:14] lite20 commented on #261
XD well, it's an option! I don't know how many people will be fond of it but it's an idea! Let's keep the ideas going!

[2016-06-26 20:22] lite20 commented on #259
Preprocessor allows developers to custom tween and optimize code before it's even shipped. Sort-of like javac for Java. @piranna

The client has it too though so it can be performed at runtime. Do you think this should be changed? (If so just create a new issue thread :D)

[2016-06-26 22:06] lite20 commented on #241
Oh okay, sounds pretty neat!

[2016-06-27 05:59] piranna commented on #259
it's even shipped. Sort-of like javac for Java. @piranna

JavaC is the compiler... By far I only know of two languages that use a
preprocesor, C and Python, and this later one is only to clean-up the sugar
sintaxys and in fact is integrated on the bytecode compiler as a
transparent step. I think you should do the same... KISS, you know ;-)

[2016-06-27 11:54] piranna commented on #248
Does this stil apply on master?

[2016-06-27 11:54] piranna commented on #255
Does this stil apply on master?

[2016-06-27 11:56] #223 closed

[2016-06-27 11:56] piranna commented on #218
Fixed in master by using npm3 natively, clossing.

[2016-06-27 11:56] #218 closed

[2016-06-27 11:57] piranna commented on #206
Fixed in master, clossing.

[2016-06-27 11:57] #206 closed

[2016-06-27 11:58] piranna commented on #155
Fixed in master by using npm3, clossing.

[2016-06-27 11:58] #155 closed

[2016-06-27 12:13] luii commented on #248
I get errors but not this one

[2016-06-27 12:23] piranna commented on #248
Can you post them? If you have some bizarre problems, maybe you would clone the NodeOS repo again and start over after saving your changes somewhere...

[2016-06-27 12:34] luii commented on #248
[code]

[2016-06-27 12:37] piranna commented on #248
Yeah, well... I've deprecated npm2 since now dependencies on npm3 has a deterministic flowchart :-P Upgrade to Node.js >= 5.0.0 or npm >= 3.0.0 and you should go :-)

[2016-06-27 12:51] luii commented on #248
install process with node 5.12.0 seems to be fine but i get another error that dont is displayed
[code]

Also i tried to install with 6.2.1 and got very strange errors

[2016-06-27 12:53] piranna commented on #248
Have you executed `npm run build` after `npm install`? Now dependencies downloading and build process are splitted due how npm3 works. Yes, I forgot to add it to the docs, sorry... :-(

[2016-06-27 12:53] luii commented on #248
Thats maybe the key to the thing

[2016-06-27 12:54] piranna commented on #248
Check it. If it works, could you be able to update the readme?

[2016-06-27 13:03] luii commented on #248
@piranna got this after `npm start`

[code]

[2016-06-27 13:38] piranna commented on #248
You need to install the shared library. Exec `sudo bin/install-dependencies` :-)

I've tried to build a static version of qemu, but `libsdl` needed for the framebuffer is giving problems... :-( I would remove it and allow only a text interface and *maybe* use the VNC interface for graphic one, but this would require a VNC client to access it... What do you think?

[2016-06-27 13:56] luii commented on #248
I dont have any idea for what the framebuffer is for and whats a vnc interface is, ive never worked on this low level but id like to know what it is

[2016-06-27 14:00] piranna commented on #248
Framebuffer is a simple way to paint graphics on the screen, for example the small Tux penguin on boot is paint using framebuffer by the kernel itself. VNC is a protocol for remote graphic sessions like TeamViewer or RemoteDesktop, so using it we would not need to use SDL to paint a "real" screen.

[2016-06-27 18:43] lite20 commented on #248
@luii if you want a bit more, the framebuffer represents the byte storage of a graphic display, like a monitor. You interact with it via shared memory and alter it's contents much like an RGB image file.

[2016-06-27 18:45] lite20 commented on #255
I'll run a test again in 15 minutes to see.

[2016-06-27 18:54] luii commented on #255
It dont apply for me on Arch Linux

[2016-06-27 19:17] piranna commented on #255
So we can be able to close it?

[2016-06-28 03:40] lite20 commented on #255
Yep. We can close it.

[2016-06-28 03:40] #255 closed

[2016-06-28 03:41] lite20 commented on #259
@piranna yeah I merged the preprocessor and the interpreter. It should be clean to take for a walk soon.

[2016-06-28 08:55] piranna commented on #259
Cool :-)

[2016-06-30 23:36] lite20 commented on #235
Closing because we have one now

[2016-06-30 23:36] #235 closed

[2016-06-30 23:37] lite20 commented on #234
I can't use forks with CodeShip unfortunately.

[2016-06-30 23:38] lite20 commented on #233
Closing because 1.0 is a thing :)

[2016-06-30 23:38] #233 closed

[2016-06-30 23:39] lite20 commented on #236
@luii @piranna did we make any progress on this?

[2016-06-30 23:39] #238 closed

[2016-06-30 23:40] lite20 commented on #219
The new website will fix this. Closing

[2016-06-30 23:40] #219 closed

[2016-06-30 23:41] lite20 commented on #217
Has this been repaired yet?

[2016-06-30 23:42] lite20 commented on #201
Can we pin this thread?

[2016-06-30 23:43] lite20 commented on #199
I believe we do this, so closing.

[2016-06-30 23:44] lite20 commented on #191
is this nodejs failing on ARM? Have we tried with the new version of NodeOS?

[2016-06-30 23:46] lite20 commented on #184
closing because target problem was resolved.

[2016-06-30 23:46] #184 closed

[2016-06-30 23:47] lite20 commented on #183
Closing as documentation is in progress ^_^

[2016-06-30 23:47] #183 closed

[2016-06-30 23:48] lite20 commented on #179
bumping this thread because I don't believe this has been resolved. I'll look into making v8 more aggressive and use less ram.

[2016-06-30 23:49] lite20 commented on #178
Closing due to a rejections of X, and progress on noGUI

[2016-06-30 23:49] #178 closed

[2016-06-30 23:51] lite20 commented on #170
bump this thread because I'm not sure of it's progress.

[2016-06-30 23:52] lite20 commented on #165
Closing for completion, but starting new thread to discuss Clang.

[2016-06-30 23:52] #165 closed

[2016-06-30 23:54] lite20 opened #267 "Build using Clang"
In the now closed issue https://github.com/NodeOS/NodeOS/issues/165 @piranna said:

Let's discuss the advantages of using Clang over GCC, and the work involved in swapping GCC out. Is it worth the switch?

[2016-06-30 23:55] lite20 commented on #164
Closing because I believe this was completed.

[2016-06-30 23:55] #164 closed

[2016-06-30 23:56] lite20 commented on #163
Once again checking if we've made any progress XD

[2016-07-01 00:01] lite20 commented on #160
Closing this, but yes Yunitto is a gui backend that implements the many rendering solutions, and creates a clean uniform extraction for modules that use it.

[2016-07-01 00:02] lite20 commented on #160
it does however have a rendering solution on it which I'll need to break off from it and into a seperate module. It has a remote browser rendering interface at the moment.

[2016-07-01 00:03] #160 closed

[2016-07-01 00:39] lite20 commented on #158
Do we still want to attempt this?

[2016-07-01 00:40] lite20 commented on #156
:D status? Was anyone able to pick this up?

[2016-07-01 00:41] lite20 commented on #152
Closing as this is under way

[2016-07-01 00:41] #152 closed

[2016-07-01 00:42] lite20 commented on #151
Closing for inactivity. Docker support, from my understanding, is in the works.

[2016-07-01 00:42] #151 closed

[2016-07-01 00:42] lite20 commented on #143
Is this complete?

[2016-07-01 00:43] lite20 commented on #142
Status?

[2016-07-01 00:44] lite20 commented on #140
This has been resolved, hasn't it? Re-open if I'm wrong :P

[2016-07-01 00:44] #140 closed

[2016-07-01 00:47] lite20 commented on #106
Awesome! We can hopefully soon include "mobile" to that list of flavours!

[2016-07-01 01:11] lite20 opened #268 "Adding Kernel Modules"
I understand that many kernel modules and features have been removed from NodeOS as servers do  not need them. For the workstation flavour (or edition as I shall refer to it) things like sound modules will be needed. How would these be added? I suggest we add a build script parameter for enabling these things?

[2016-07-01 01:13] lite20 commented on #100
@piranna the auto-updated could do this?

[2016-07-01 01:13] lite20 commented on #99
status on this? Are we still intending to implement this?

[2016-07-01 01:15] lite20 commented on #95
The device manager sounds like an excellent idea. How would we go about implementing it?

[2016-07-01 01:17] lite20 commented on #94
status? :)

[2016-07-01 01:20] lite20 commented on #88
Status?

[2016-07-01 01:22] lite20 commented on #85
progress on this?

I've actually started working on this but I've left is a secret :P

[2016-07-01 01:23] lite20 commented on #81
Status?

[2016-07-01 01:25] lite20 commented on #80
I believe we finished this. If I'm wrong, how do I go about completing it now?

[2016-07-01 01:26] lite20 commented on #153
Closing for inactivity

[2016-07-01 01:26] #153 closed

[2016-07-01 01:31] lite20 commented on #79
Hahaha leaving this thread open for discussion. If it stays inactive, we can close it

[2016-07-01 01:42] lite20 commented on #78
Closing for inactivity.

[2016-07-01 01:42] #78 closed

[2016-07-01 01:43] lite20 commented on #76
Closing this thread, as docker progress has begun and is being monitored on other threads.

[2016-07-01 01:43] #76 closed

[2016-07-01 01:44] lite20 commented on #72
status?

[2016-07-01 01:46] lite20 commented on #70
This reminds me oddly of the auto-installer... I wonder why. This is still a good idea! Instead of defaulting :P *bump*

[2016-07-01 01:47] lite20 commented on #69
It must get boring talking to yourself. Good thing I'm on summer break now! Status update?

[2016-07-01 01:56] lite20 commented on #68
Safe to close this as inactive?

[2016-07-01 01:57] lite20 commented on #62
Status ^_^? Sorry for probably flooding you with notifications! I just thought I'd get a full idea of where NodeOS stands, and clean up as I go.

[2016-07-01 01:57] lite20 commented on #60
closing as npkg is depricated.

[2016-07-01 01:57] #60 closed

[2016-07-01 01:58] #59 closed

[2016-07-01 01:59] lite20 commented on #56
Status? I believe that we still use bash

[2016-07-01 02:00] lite20 commented on #54
New wiki being put together!

[2016-07-01 02:00] #54 closed

[2016-07-01 02:03] lite20 commented on #38
This sounds awesome! Leaving open as we are intending to support runtime.js from my understanding

[2016-07-01 02:05] lite20 commented on #32
Hi! I'll gladly accept this position and maintain the website ^_^

[2016-07-01 02:07] lite20 commented on #35
wasnt the reverse proxy created? Closing, but re-open if I'm in error

[2016-07-01 02:08] lite20 commented on #35
@piranna is that automated or are you just watching to see every time I close a thread? :P

[2016-07-01 02:09] lite20 commented on #31
npkg depricated. Closing

[2016-07-01 02:09] #31 closed

[2016-07-01 02:11] lite20 commented on #29
I'm curious. What happens when you call child process.spawn? Is bash secretly there hidden behind the scenes?

[2016-07-01 02:14] lite20 commented on #26
This is interesting! Has any progress been made on this or is it now inactive (seeing that it's two years old...)

[2016-07-01 02:14] lite20 commented on #25
Closing as we now provide contribution direction

[2016-07-01 02:14] #25 closed

[2016-07-01 02:16] lite20 commented on #22
Closing as issue was resolved

[2016-07-01 02:16] #22 closed

[2016-07-01 02:20] lite20 commented on #21
This is a really good idea! Someone please grab charge of this

[2016-07-01 02:21] lite20 commented on #18
Closed as a roadmap is now available! Opening thread to discuss multiple node versions idea.

[2016-07-01 02:21] #18 closed

[2016-07-01 02:23] lite20 opened #269 "NVM for NodeOS"
In thread https://github.com/NodeOS/NodeOS/issues/18 @piranna stated:

Why don't we create a module to perform this that users can install? How would this work?

[2016-07-01 02:26] lite20 commented on #14
Adding a compiler will solve this :D Unsure whether to close this or not so leaving it open

[2016-07-01 02:26] lite20 commented on #13
I think the masses would be glad to see noGUI. Closing as this is inprogress in another thread.

[2016-07-01 02:26] #13 closed

[2016-07-01 03:03] lite20 opened #270 "Supporting OpenGL"
I've been looking into enabling OpenGL as this is needed for the workspace flavour (aka graphic edition of NodeOS). I understand that we'll need to compile mesa, and package it into an npm module which being completely honest, really scares me. Nonetheless I'm going to give a shot at compiling mesa for the framebuffer as is accomplished [here](https://blog.visucore.com/2013/2/25/building-mesa-with

[2016-07-01 03:15] lite20 commented on #270
I'm thinking Mesa's dependencies might make it a pain to work with. None the less, pressing on to see where I can get to.

[2016-07-01 03:22] lite20 commented on #270
Maybe we could consider first starting with http://bellard.org/TinyGL/ ? It's small size makes it relatively quick and I quote from it's landing page:

It would be a nice start for us and we could slowly grow toward the monolith mesa. Why do we need mesa? Mesa implements the full OpenGL standard, and by missing parts, we limit what programs can be run. I suggest we make it a param on the build scr

[2016-07-01 03:47] luii commented on #236
not really, im too much into other things like docker support, `nodeos-mount-filesystems` and school so there was not much time for this :-/

[2016-07-01 03:48] luii commented on #217
Since nsh hasnt been updatet, yes it still exists

[2016-07-01 05:08] lite20 commented on #217
okay I'll leave it open then.

[2016-07-01 05:10] lite20 commented on #236
@luii all good! I'm sure someone will pick it up, and if not, I can try when I finish my work stack.

[2016-07-01 06:05] piranna commented on #219
I would not close and issue until it's fixed or superseeded by another one.
In that case, I would add this to a list of to-do things in the new website
issue or directly in its repo.

Anyway, what a hige work have you done by reviewing the issues! You rocks!
:-D
El 1/7/2016 1:40, "Lite McFish" <notifications@github.com> escribió:

[2016-07-01 06:07] piranna commented on #201
Done. Don't you have permissions to add labels?

[2016-07-01 06:12] piranna commented on #191
No, it fails any single binary when used as /init on arm, also static ones.
Probably there are some bugs on the cross-compiler, but I haven't tried
again and also lost some commits related to it :-/ Let's hope new QEmu with
native support for raspi2 machine makes it easier...
El 1/7/2016 1:44, "Lite McFish" <notifications@github.com> escribió:

[2016-07-01 06:18] lite20 commented on #219
@piranna I read everyone of the 111 issues, and am now done reading anything for the rest of the day XD (just kidding, trying to compile mesa so more reading for me). And yeah I'll reopen this on the site repo

[2016-07-01 06:19] lite20 commented on #201
@piranna yes, I do :P I just wanted to ask first

[2016-07-01 06:20] lite20 commented on #191
@piranna yes, that will be excellent ^_^

[2016-07-01 06:22] piranna commented on #201
Cool ;-) Don't need to ask for this small things :-)
El 1/7/2016 8:19, "Lite McFish" <notifications@github.com> escribió:

@piranna <https://github.com/piranna> yes, I do :P I just wanted to ask
first

—
You are receiving this because you were mentioned.
Reply to this email directly, view it on GitHub
<https://github.com/NodeOS/NodeOS/issues/201#issuecomment-229863240>, or mute
the thread
<https:/

[2016-07-01 06:32] lite20 commented on #201
Hahah okay, I won't ask next time :P

[2016-07-01 06:37] lite20 commented on #270
Update:

So I read somewhere that TinyGL was made in 2002, making me question if it's recent enough to be used for anything at all. I will experiment with it in a bit but at the moment I'm compiling mesa. I'll have you know that mesa takes a good million years to compile, but doesn't use much ram. It's size might make it impractical but I'll have a better say on that if it finishes compiling succe

[2016-07-01 07:29] lite20 commented on #270
**Update**
So after 2+ hours, I was successful at compiling mesa for DRM. This is most likely what we'd use (I believe) if we were to use mesa on NodeOS so seeing that I can compile it is a good sign. I'm not quite sure what I just did however as mesa doesn't appear have created any new files (at a first glance). I'll need to investigate what was compiled, and where it is. Once I find this, it'll

[2016-07-01 08:07] luii commented on #267
We should use a Compiler Flag for swapping out gcc with clang

[2016-07-01 08:15] lite20 commented on #267
@luii thats an awesome idea! That was users can select whichever they would like to work with

[2016-07-01 08:46] AkiraLaine commented on #261
@lite20 Hey! Are you guys just looking for ideas for the website, or are you looking for front-end web developer? If so, I'd be happy to help :smile:

[2016-07-01 08:58] piranna commented on #29
No, it doesn't, it exec directly the binary provided as the first argument.

[2016-07-01 09:01] piranna commented on #62
Untested in the best case, maybe? nodeos-cross-toolchain should be capable of doing this (I designed it having that in mind) but probably would need still a lot of love to achieve this. Also there's the problem with Python, gyp... There's still a long road path here.

[2016-07-01 09:06] piranna commented on #69
Untested, but definitely feasable since we have access to the `/dev` filesystem, it only keeps to read the interface and parse the mouse events. It would be a funny project :-) Later it keeps to inject the ANSI codes in the terminal input stream as I put in my last post.

[2016-07-01 09:07] piranna commented on #81
Low priority at this moment.

[2016-07-01 09:10] piranna commented on #80
I think it got starved, it should not need too much time to finish it, mostly define an API about how the module for the creation of new users should work, since we have diferent approach here, you want a tarball with everything and I want a minimalist aproach, so we could investigate both.

Work on it and we'll discuss ;-)

[2016-07-01 09:15] piranna commented on #267
This discussion should be done on the `nodeos-cross-toolchain` project. Besides that, adding a flag to select what one to generate is fine for me, main concern is the support of clang to compile both on Linux kernel and Node.js (and Node.js compiled modules).

[2016-07-01 09:27] piranna commented on #201
;-)

[2016-07-01 09:35] piranna commented on #270
Don't think too much on the npm package yet, let's make it work first. One step at a time ;-)

Why would we need Mesa? For node-webgl, for example? Would it need it noGUI for something? Does this compilation has hardware acceleration, or only just a software raster?

[2016-07-01 09:42] piranna commented on #270
[code]

Software raster, but with egl support. Ouh yeah B-) Having this compiling is a good start, it would be cool to have `node-webgl` to work with this :-) After that we could start enabling DRI and other things to try to have hardware acceleration using just the build in kernel drivers :-) That lead me to think... what can we do with them? Add another options on the build process to select the

[2016-07-01 11:45] TheJaredWilcurt commented on #68
yes

[2016-07-01 11:45] #68 closed

[2016-07-01 13:28] Coretool commented on #270
When we've got OpenGL running, I can finally use CEF for noGUI ... Life's getting easier :D

[2016-07-01 13:53] piranna commented on #142
Very low priority. Let's see how this going on with the `prebuild` module, whatever behaviour it has when we'll use it for the NodeOS prebuild images we'll follow it, so I would close this and keep going on.

[2016-07-01 14:00] piranna commented on #199
This is not yet scheudled, and probably it will not be after 1.0.0 because it needs breaking changes affecting several projects in a lot of places.

[2016-07-01 14:03] piranna commented on #88
Node-gyp has started to add support for gyp.js

https://github.com/nodejs/node-gyp/issues/960

[2016-07-01 17:45] lite20 commented on #88
Excellent! Leaving thread open :P

[2016-07-01 17:46] lite20 commented on #199
Ah okay. Thanks for the correction

[2016-07-01 17:47] lite20 commented on #142
Okay hahaha

[2016-07-01 17:47] #142 closed

[2016-07-01 17:53] lite20 commented on #270
Mesa would be an excellent OpenGL implementation for us since it can take over where hardware lacks. Mesa will use hardware acceleration where available, or software where it cannot. Right now the precise configuration I'm using enables egl coupled with soft raster as @piranna guessed. I figured it would be a good start.

     --enable-dri --with-gallium-drivers=swrast --with-egl-platforms=drm

[2016-07-01 18:00] lite20 commented on #270
@piranna Mesa will be or gateway to supporting any 3D rendering be it for webgl, virtual reality, or quite literally anything using gl. We open the gates of 3D to our graphic users (which is an immense world) making NodeOS just that more powerful.

**Warning**
I do heavily suggest the Mesa be an optional include even for the graphic distribution as it is no small project. It's feasible and somethi

[2016-07-01 18:00] lite20 commented on #270
I've got your back!

[2016-07-01 18:02] lite20 commented on #267
Ah okay. Moving thread.

[2016-07-01 18:02] #267 closed

[2016-07-01 18:05] lite20 commented on #80
Ah yes I remember now. You had some progress going. Is that on your personal fork?

[2016-07-01 18:07] lite20 commented on #69
Ah okay excellent! I'll get to playing with it in my normal set up and see what I get

[2016-07-01 18:10] lite20 commented on #261
@AkiraLaine both ideas and developers and we'd love to have your help! (Tell your friends too hahaa). The repository for the website is https://github.com/NodeOS/nodeos.github.io

I have a few ideas I will upload here in a second but if you have any, please feel free to dump them here! (Photo's, sketches, links, anything!)

[2016-07-01 18:11] lite20 commented on #29
Okay this is what I thought. In that case this function should work perfectly on NodeOS. In this case no there is no bash access, and I may close the thread :P

[2016-07-01 18:11] #29 closed

[2016-07-01 18:13] lite20 commented on #62
I'm going to take this up as I already started scrapping together a c++ compiler for NodeOS

[2016-07-01 18:36] lite20 commented on #81
Okay hahaha. Leaving open

[2016-07-01 18:58] iDentity1337 commented on #261
Put some ideas and concepts, would love to see them and maybe make them come true :)

[2016-07-01 19:07] piranna commented on #80
I think so, don't remember.
El 1/7/2016 20:05, "Lite McFish" <notifications@github.com> escribió:

[2016-07-01 19:11] piranna commented on #270
distribution as it is no small project. It's feasible and something we
could actually manage to pack by the look of things, but iz definitely an
extra that select group of NodeOS users would be using. (WebGL game
developers, or gamers, etc)

I think so, that's why I suggest don't work too much on the npm package
while we experiment with it, to see if we can compile it statically onto
node-webgl or

[2016-07-01 19:21] lite20 commented on #270
@piranna I'm running a second compile (this time taking advantage of all my cores) and am beginning to get an idea of how this all works. OpenGL systems dynamic. Programs using OpenGL link up with the dynamic library available on any system and they all use the same names, and interfaces so an OpenGL program could have no idea what raster it's using, whether it be a proprietary driver, or an soft-

[2016-07-01 20:24] piranna commented on #270
my cores) and am beginning to get an idea of how this all works. OpenGL
systems dynamic. Programs using OpenGL link up with the dynamic library
available on any system and they all use the same names, and interfaces so
an OpenGL program could have no idea what raster it's using, whether it be
a proprietary driver, or an soft-render.

Mostly yes, that's how the fragments connect between them in the

[2016-07-01 21:30] lite20 commented on #270
Okay, awesome!

Excellent. Second build done and I have all these prebuilt libs to play with. What's the easiest way to inject them into NodeOS? wget?

easily change version, or since it's related to the system hardware common
to all the users, place it on the initram of the workstation flavor similar
to how its done with libfuse. In any case, users would be able to override
it anyway...

I sugges

[2016-07-01 21:34] lite20 commented on #261
Please ignore the blank space at the bottom, here's an idea I whipped together graphically, focusing on the header. However we organize the internal content may vary.

![image](https://cloud.githubusercontent.com/assets/8516575/16535014/b09b0cb8-3fa9-11e6-95c0-28037f4ed78c.png)

[2016-07-01 21:36] lite20 commented on #261
I tried using the same colors as the logo, but we could easily swap colors for something nicer.

[2016-07-01 21:36] lite20 commented on #261
The nav links are also just template. We'd probably want one for the blog too (and rss?)

[2016-07-01 22:03] piranna commented on #270
with. What's the easiest way to inject them into NodeOS? wget?

Copy them somewhere nodeos-initramfs project inside your NodeOS
node_modules and change its scripts/build by hand to include them the same
way it's done with libfuse. Maybe you could also add them directly to its
build folder...

[2016-07-01 22:06] lite20 commented on #270
node_modules and change its scripts/build by hand to include them the same
way it's done with libfuse. Maybe you could also add them directly to its
build folder...

Okay awesome, thanks! I'll give it a shot.

be in the initram, but it would be to build it.

So it doesn't matter where we place the .so files?

[2016-07-01 22:47] piranna commented on #270
bot

As far as they end on runtime on the /lib folder it's fine.

[2016-07-01 23:08] iDentity1337 commented on #261
Thanks to the nature of NodeOS's logo, it's easy to convert it to any color.

So, the header:
• The easiest thing to do here is to make the navigation part in CSS and the hexagons as an image. But the option to create random hexagons in a canvas using CSS or JS is not forgotten.
Part below the header:
• Simple grid.

This would be easy to do unless you want hexagons to be randomly generated.

[2016-07-01 23:32] lite20 opened #271 "No such file or directory 'addr2line'"
I hit this error attempting to compile NodeOS (build script not modified)

[code]

[2016-07-01 23:35] piranna commented on #271
This should already be fixed in master, have you downloaded the project and
build it from scratch?
El 2/7/2016 1:32 AM, "Lite McFish" <notifications@github.com> escribió:

I hit this error attempting to compile NodeOS (build script not modified)

npm ERR! Linux 4.2.0-27-generic
npm ERR! argv "/usr/bin/nodejs" "/usr/bin/npm" "install"
npm ERR! node v4.4.5
npm ERR! npm  v2.15.5
npm ERR! path /home/l

[2016-07-01 23:40] lite20 commented on #261
I think making a tileable SVG version of the hexagons is probably the best way to go, that way it stays responsive.

The table is one way of doing it. We could also pull in bootstrap and use it's rows and columns so that it's responsive. I was however hoping we could find an even nicer way to present the details about NodeOS, maybe in creating a carousel or something of sorts?

I never did show th

[2016-07-01 23:40] lite20 commented on #271
Yeah but I can try again

[2016-07-02 00:05] lite20 commented on #271
Nope, this is still an issue on master. I cloned the latest version and tried to compile and hit that error again.

[2016-07-02 00:07] piranna commented on #271
Sh*t, there must be a conflict on the dependencies somewhere... :-/
El 2/7/2016 2:05, "Lite McFish" <notifications@github.com> escribió:

[2016-07-02 00:09] iDentity1337 commented on #261
Will give it a shot tonight/tomorrow. Where should I put results?

[2016-07-02 00:09] lite20 commented on #271
@piranna what sort of conflict am I looking for?

[2016-07-02 00:24] lite20 commented on #261
go ahead and fork the [site repo](https://github.com/NodeOS/nodeos.github.io) and place your files in a folder with your username. I'll create the SVG header image as I already have it, and I'll paste it somewhere for you to grab. If you can, you can create one too, but you don't have to spend too much time on it.

[2016-07-02 00:59] iDentity1337 commented on #261
https://github.com/iDentity1337/nodeos.github.io

I'll put stuff there under a specific folder

[2016-07-02 04:44] luii commented on #271
I get this error too with node 6.x.x and 4.x.x try to use 5.12.0.
Or try to issue the command right after you got the error

[2016-07-02 06:45] piranna commented on #271
On your error nodeos-nodejs is using its own copy of
nodeos-cross-toolchains.

[2016-07-02 10:02] AkiraLaine commented on #261
@lite20 Hey! I'm starting to re-do the website (want to experiment with some stuff). I'm using [Bulma](http://bulma.io/), a really cool CSS Framework (changes from using Bootstrap all the time :P ). If you have any graphics or things that you *want* implemented in the website - could you include them somewhere?

https://github.com/AkiraLaine/nodeos.github.io (AkiraLaine folder)

[2016-07-02 11:18] AkiraLaine commented on #261
@lite20 Here's a quick mockup of what the home page could look like?
![capture](https://cloud.githubusercontent.com/assets/11958359/16540087/e4aef132-40a2-11e6-9e0e-252489ec77d8.PNG)

[2016-07-02 13:00] luii commented on #261
Wow thats looks really nice keep up level

[2016-07-02 18:19] lite20 commented on #271
Ah okay. Which is it to use and how to fix?

[2016-07-02 18:32] lite20 commented on #261
@AkiraLaine excellent! I love the clean matte style. Is it responsive? There's a lot of blank white space that I'll play with to see if I can get a good back scene.

[2016-07-02 20:15] iDentity1337 commented on #261
@AkiraLaine nice. Is Bulma a good framework to work with?

[2016-07-02 20:24] lite20 commented on #261
@AkiraLaine I've uploaded the hex svg to my fork [here](https://github.com/lite20/nodeos.github.io/blob/master/lite20/assets/hex_art.svg). I like what you did with the info on the side. I'm curious of swapping out the computer screen section with a carousel for graphic representation's of the blog posts.

we could even make the computer screen the carousel... :P

[2016-07-02 20:27] iDentity1337 commented on #261
@lite20 now i can work on mine, thanks for svg :P

[2016-07-02 20:28] lite20 commented on #261
@iDentity1337 they have a [nice website](http://bulma.io/) which displays it to be a lot like bootstrap, but smaller giving only essentials for organizing a page (things like columns and such). It also doesn't use JS from the look of things. It's pleasingly smaller than bootstrap at only 98 kb compared to bootstraps 121 neither are very large.

TLDR; it looks good!

Haha yeah no problem! Excited t

[2016-07-02 20:54] iDentity1337 commented on #261
Which is better, 1st or second?
http://i.imgur.com/RLay163.png
http://i.imgur.com/WUWSmIl.png

1st image has a line in the middle of hexes since it's 2 svg's with 2nd one being flipped, while the 2nd image is one svg but it's big as mosque.

[2016-07-02 20:58] lite20 commented on #261
I like the first a bit more. In the second he header seems rather oversized.

[2016-07-02 22:14] Coretool commented on #261
I actually like the second one more, I find it more clear. Many small things start to iritate.

[2016-07-03 00:32] lite20 commented on #261
@iDentity1337 Many people like the second one. Is it possible to create a nice in between? Else, the second one sounds like the right one to go with (I asked a few friends opinion)

[2016-07-03 02:40] iDentity1337 commented on #261
@lite20 Here's a small update, going to bed, 04:39 here.

http://i.imgur.com/uXiTUZN.png
![uxituzn](https://cloud.githubusercontent.com/assets/13631879/16543511/40826a36-40d8-11e6-9b0d-3879df9f5554.png)

[2016-07-03 03:29] lite20 commented on #271
How would we go about making it use the one we provide? Removing it's local one? Cause it to move up a few parent directories and use that one?

[2016-07-03 03:38] lite20 commented on #271
@luii 5.12.0 didn't work for me either

[2016-07-03 05:30] AkiraLaine commented on #261
Thanks for all the feedback :D @lite20 Here is the website with the mockup included.
![capture-2](https://cloud.githubusercontent.com/assets/11958359/16543897/4b2b7ec4-413b-11e6-879e-7406ff67e3d1.PNG)

[2016-07-03 05:32] AkiraLaine commented on #261
@lite20 Apart from the home page, what else do you need (blog, downloads page...etc?)
Also, @iDentity1337 I don't see the point of us working on 2 different versions of the website, we could just work together?

[2016-07-03 05:47] luii commented on #271
Thats strange, i got these errors when i use the wrong version. DId you try to clone it again and then build it from scratch with 5.12.0?

[2016-07-03 05:50] AkiraLaine commented on #261
Here is a live preview: https://akiralaine.github.io/nodeos.github.io/

[2016-07-03 12:56] piranna commented on #261
Really gorgeous designs, I'll move from here and delegate the design to you, definitely you have more skills and knowledges on frontend than me :-D

Just to note, the idea of randomly generated hexagons is really cool :-D and also, you would be interested on this tutorial to [create hexagons in pure CSS](https://jtauber.github.io/articles/css-hexagon.html) ;-)

And finally for the record, the colo

[2016-07-03 14:28] iDentity1337 commented on #261
Good morning :DD

Well, I just finished a good part of my web, here's a screenshot: http://i.imgur.com/fkXtLiQ.png ..
@AkiraLaine I hate frameworks, but why not :+1:

[2016-07-03 15:57] iDentity1337 commented on #261
![9xiaonu](https://cloud.githubusercontent.com/assets/13631879/16546336/96037274-4147-11e6-8347-f2377365d0b1.png)

Mine is done, but not responsive like @AkiraLaine 's is :/

[2016-07-03 21:51] lite20 commented on #261
@AkiraLaine @iDentity1337

Yes I agree. Both of you have created excellent sites, so let's discuss how we want to merge them.

Before I begin I should mention that you've both done excellent work! To merge the two, I suggest that we build off @AkiraLaine's source simply so we don't have to go through the process of re-implementing things with Bulma. I've noticed that @iDentity1337 has a nice space

[2016-07-03 21:53] lite20 commented on #271
@luii oh I may have forgotten to reset. Let me go ahead and do that.

[2016-07-03 21:56] lite20 commented on #261
Yes, the next page to remake is the blog. I guess I'll get to work on merging the two sites so you both can begin designing the next page. You can take a look at the source code for the blog to see how it all works and try and make your page "set-to-go" if possible, so that if we were to merge, it would work.

I also wan't to amend to my last message. @iDentity1337 , you mentioned using JQuery for

[2016-07-03 21:57] iDentity1337 commented on #261
@lite20 I've already published my website to a forked repo, you can clone it onto a webserver to see the animations, and yes, keeping it clean.

[2016-07-03 22:02] lite20 commented on #261
@iDentity1337 awesome! Could you create a pull request to merge with the 'v2' branch please? Thanks!

[2016-07-03 22:03] iDentity1337 commented on #261
@lite20 Let me make some minor adjustments, I think I can make this more responsive than it's currently.

[2016-07-03 22:05] lite20 commented on #261
@iDentity1337 okay sure, go ahead! Just let me know when you're done and we'll merge (again).

[2016-07-03 22:24] lite20 commented on #261
If any haven't worked with Jekyll before, [this quick tutorial](http://code.tutsplus.com/articles/building-static-sites-with-jekyll--net-22211) will get you going!

[2016-07-03 22:54] iDentity1337 commented on #261
@lite20 I just pushed 2 commits to my fork. Has some hiccups, but should look nice on smaller devices.

[2016-07-03 23:49] lite20 commented on #261
Okay, thanks! I'll merge when I get home

[2016-07-04 04:58] AkiraLaine commented on #261
@lite20 Will you merge the 2 sites together? If so, maybe override the `v2` branch with only the new stuff (the index and style files and images folder). That way it'll be cleaner and easier to make PR's to.

Just ping me when that's done and me @iDentity1337 can start on the blog page.

[2016-07-04 04:59] AkiraLaine commented on #261
Or do you want me to merge them?
 - @iDentity1337's header
 - My content
 - A mix between @iDentity1337 and my footer.

[2016-07-04 05:39] lite20 commented on #261
@AkiraLaine if you have the time to do that for me, that'd be awesome as it appears were in opposite time zones. If not, when I get on I'll do it. I guess you can put it wherever and just let me know and yes in the v2 branch I'm gonna just swap everything else out and leave the site

[2016-07-05 15:56] luii opened #272 "mount procfs/devtmpfs: Operation not permitted"
As stated in the PR #266 i get following errors:
[code]

@piranna These errors come from `nodeos-init` since docker takes the hostfs it could not mount them twice, would it be possible to exclude `nodeos-init` for docker?

[2016-07-05 18:54] piranna commented on #272
Yes and no.

`nodeos-init` do several tasks, like collect orphaned child process (its main function), mount `procfs` and `devfs` for Node.js, start the boot process (done by `nodeos-mount-filesystems) and cleanly shutdown the system when there's no more running processes. It can be possible to remove `nodeos-init` and directly exec `nodeos-mount-filesystems`, but in this case there would be no pro

[2016-07-06 14:23] piranna commented on #56
Yes, we still use bash, and we'll still do it in the foresee future. I'm thinking to split the generic components from the Node.js parts, making that generic components independent projects that are downloaded as source deps by their actuale npm package. For example, I'm thinking to split nodeos-cross-compiler and nodeos-barebones making their more generic part fully managed by bash so they can be

[2016-07-06 14:27] piranna commented on #35
Reverse proxy is working correctly and integrated, but it's only focused for HTTP and WebSockets. This issue is more related to discuss what to do with other incoming ports. One solution would be to don't accept them and only allow incomming petitions for HTTP and WebSockets since they can be easily identified, and maybe allow any other protocol that has an easy support for a reverse proxy in some

[2016-07-06 14:31] piranna commented on #100
No, they are independent, this is mostly to have a list of your installed programs, packages and libraries with their version and quickly have them available on other machine.

[2016-07-07 00:18] lite20 commented on #35
@piranna I suggest we leave the other ports as "fend for yourself" ports. We enable a reverse proxy for as many protocols as we can, but for those that we can't we leave the default functionality. Whoever gets there first, gets the port. As stated above:

If it isn't on a reverse proxy, bob can't. Everyone with a reverse proxy deals with this issue already so we can see it more as adding a bonus i

[2016-07-07 00:19] lite20 commented on #100
Ah okay. How would we go about creating this?

[2016-07-07 08:53] piranna commented on #35
Here I find three situations:

1. priviledged ports (< 1024), only root user (UID 0) can open them, reverse proxy should manage them someway if it makes sense (telnet, ssh...), but how? Just ignore them and suggest/force people to use other alternatives (mainly HTTP and WebSockets)?
2. regular ports (>= 1024), i find ok the first come first serve approach here
3. regular ports with easy support fo

[2016-07-07 08:57] piranna commented on #100
Don't know :-) But at this moment I've found you can get a list of the globally installed modules and their versions with `npm ls --depth 0`, don't know if this could be just enough because it's smells like a hack trick and there's the problem of how to invoke `npm` later to install them...

[2016-07-07 14:01] tylerl0706 commented on #67
Wow, GitKit looks amazing. This would be an alternative to NodeGit with a custom CLI on top of that, right?

[2016-07-08 03:45] lite20 commented on #35
If you create a manager they could simply be ignored, yes.

We're officially exiting my realm of knowledge :P

What do you mean by this? How would this work?

[2016-07-08 06:07] piranna commented on #35
reverse proxy should manage them someway if it makes sense (telnet,
ssh...), but how? Just ignore them and suggest/force people to use other
alternatives (mainly HTTP and WebSockets)?

Working on ;-)

we could add it in the initramfs

version of it?

I have check the docs and build-ins have the highest priority, so only
solution is devs will need to explicitly require a module to use
priviledged p

[2016-07-08 22:00] sbuller opened #273 "Building Toasters"
As a potential user, I'm finding the focus of the documentation and tooling a bit different than what I'd hope for. I think my aims are still in line with the direction of the project though.

My hope is to have a tool—let's call it `toast` for arguments sake—that builds a bootable disk image when run in a node repository (i.e. a directory containing a package.json file). I don't particularly care

[2016-07-09 00:06] piranna commented on #273
Not more than most of us here (or at least me :-P ). You have shown a
really interesting use case that was between the initial ones when
@groundwater started the project and also between mines when I got a ride,
only that it hasn't got enough traction to work toward that idea :-)

At this moment, NodeOS architecture is designed so you can custom it by
forking the project and changuing the dependen

[2016-07-09 03:03] sbuller commented on #273
I kind of want to do it, but I've got other stuff to do too. And right now I just need to get something working. Anyways, I don't see any problem with running as root, since there isn't going to be anything else on the system anyway. No point trying to mess around with permissions—the only thing they could do is restrict access to low number ports, which needs to be done on the firewall anyway. Th

[2016-07-09 03:19] piranna commented on #273
Then in your case the quick path is to fork nodeos-initramfs and replace
there the nodeos-mount-filesystems dependency by your app and change the
creation of the /sbin/init symlink to point to your app. After that, just
the tipical dance of npm install & npm run build & npm start. Could you be
able to do a pull-request on nodeos-initramfs with the steps that you've
followed to customize it?

And j

[2016-07-09 23:35] joshgarde commented on #270
Any ideas on what display server you're going to use?

[2016-07-09 23:35] joshgarde commented on #270
And as a follow up, window manager?

[2016-07-10 05:01] Coretool commented on #270
AFAIK we won't use any display server. The apps will all be like 'normal websites'. We basically use a browser engine, currently we're using webkit but I want to swicht as soon as possible to the chormium embedded framework. Th current project can be found at [the noGui repo](http://www.github.com/coretool/noGui)

[2016-07-10 06:37] AkiraLaine commented on #261
Hey @lite20. I'm at a loss - how are you guys implementing your GitBlog?

[2016-07-10 06:39] joshgarde commented on #270
I was thinking of porting over Chromium OS' ash window system once I was done with my Mac ports of the build tools.

[2016-07-10 06:47] joshgarde commented on #270
Not for the official builds, just for my own lols.

[2016-07-10 07:25] Coretool commented on #270
Yeah, I've looked at ash... I like it but I don't know if that matches our philosophy (@piranna, what do you think ?)

[2016-07-10 07:47] joshgarde commented on #270
I find it the most lightweight solution to implementing a display server + window manager even though all it can display is Chromium.

[2016-07-10 07:50] Coretool commented on #270
Yeah... but does it use X ?

[2016-07-10 07:55] joshgarde commented on #270
Google switched over to the Freon display stack last year: https://www.phoronix.com/scan.php?page=news_item&px=Chrome-OS-Freon-Graphics

[2016-07-10 08:05] Coretool commented on #270
Do you know where the ash (or aura shell ?) source is ?

[2016-07-10 08:14] Coretool commented on #270
Yeah... saw that project ^^

[2016-07-10 08:18] Coretool commented on #270
Now I know what I'll do in my holidays ^^ Thanks for links ;)

[2016-07-10 08:19] joshgarde commented on #270
I'd be happy to help out

[2016-07-10 08:43] piranna commented on #270
our philosophy (@piranna, what do you think ?)

As far as we can use it without the chrome-only APIs...

[2016-07-10 17:03] joshgarde commented on #270
Woo!

[2016-07-11 00:46] SpaceboyRoss01 commented on #270
I'm going to write my own desktop/gui/window manager package for NodeOS.

[2016-07-11 04:07] SpaceboyRoss01 opened #274 "npkg is not working"
npkg does not install anything. It just loads and goes back to the terminal.

[2016-07-11 04:58] Coretool commented on #270
Wouldn't it be more efficient if we all worked on the same project ?

[2016-07-11 05:02] joshgarde commented on #270
I believe it would be, so who's project should we focus on?

[2016-07-11 05:11] Coretool commented on #270
Well I started some time ago with [noGui](https://www.github.com/coretool/noGui). I think we will record our progress there. The most developed attempt is using QTwebkit and would only need some logging and some changes to the network...

However, I would love to try to make ash/aura/freon work (with nodeos) !

[2016-07-11 05:45] joshgarde commented on #270
I'm going to get started on ash on https://github.com/joshgarde/aurora

[2016-07-11 06:22] piranna commented on #274
Npkg is deprecated, don't use it.

[2016-07-11 06:22] #274 closed

[2016-07-11 06:25] joshgarde commented on #270
I forgot to say in my original comment that I'd be happy to contribute code to noGui as well.

[2016-07-11 07:35] Coretool commented on #270
Ok... I'll add you to noGui... Will add me to aurora too ?

[2016-07-11 07:56] joshgarde commented on #270
Done :D

[2016-07-11 08:10] SpaceboyRoss01 commented on #274
Then, how do we install software?

[2016-07-11 08:12] piranna commented on #274
Npm
El 11/7/2016 10:10, "SpaceboyRoss01" <notifications@github.com> escribió:

[2016-07-11 11:59] joshgarde commented on #270
Just checked out the chromium source (15GB), started building it (3 hours ago) on a new VPS I had to purchase to meet the [system requirements](https://chromium.googlesource.com/chromium/src/+/master/docs/linux_build_instructions.md#System-requirements), and realized that porting ash probably isn't worth the work.

So I'm now changing my original plans for aurora - which might be an extension of n

[2016-07-11 12:01] joshgarde commented on #270
And now back to the main topic of this issue: How's mesa support going?

[2016-07-11 12:27] piranna commented on #270
The idea is to do everything in vanilla Javascript, if you can run it in a web browser you can run it on noGUI, so no extensions here. The only extension I would allow is the X-FRAME to disable the iframe spoofing and being able to navigate to Google or Github or Facebook from inside noGUI, and this because there are already some extensions for regular browsers that enable some whitelist sites to

[2016-07-11 12:49] joshgarde commented on #270
I wasn't talking about a browser extension. I'll have to explain my idea when I'm more alert (stayed up all night).

I don't feel like having a web browser within a web browser is a very good idea since one unstable website would cause the entire desktop to crash.

[2016-07-11 12:53] piranna commented on #270
That's why we plan to use iframes for each app, to isolate them ones from others.

[2016-07-11 13:19] joshgarde commented on #270
A quick test in Chrome doesn't quite support this:

isolation-test.html:
[code]

embeded-crash.html:
[code]

Also, anything in an iframe can access the main document though `window.parent`

[2016-07-11 13:21] piranna commented on #270
If they are from different domains no, they don't have access.

[2016-07-11 16:13] piranna commented on #67
Any update on this? Could someone give a hand and coordinate with @SamyPesse to fill the missing gaps on `GitKit.js`?

[2016-07-11 17:59] SpaceboyRoss01 commented on #67
Try using the npm package called `gitlet-for-nodeos`, I use the package on NOS (Node.js Operating System).

[2016-07-11 18:11] piranna commented on #67
`gitlet` author declared is not willingly to add the missing functionality to be used as a `git` cli replacement for `npm`. Do you know if they are fixed elsewhere?

[2016-07-11 18:22] SpaceboyRoss01 commented on #67
No

[2016-07-11 20:19] sbuller commented on #273
Well, it's a bit early to say if this will be put into production, but I'm looking to use it for running some internal automation where I work.

Since you already make pre-built images for the project, would it be possible to have `barebones` provided on its own? It looks like that will be all that I need to make me some toast.

[2016-07-11 20:46] piranna commented on #273
I'm looking to use it for running some internal automation where I work.

I would be really happy to hear that ;-)

possible to have barebones provided on its own? It looks like that will be
all that I need to make me some toast.

Yes, each layer is independent, so you can be able to use nodeos-barebones
standalone, although I recomend you to do your changes on nodeos-initramfa.

[2016-07-12 01:02] lite20 commented on #261
@Akiralaine it uses Github's blog engine, Jekyll. If it's too hard to work with, simply create a static index page, and a post page and I'll transform them into Jekyll templates for us.

Sorry for the late reply!

[2016-07-12 01:54] lite20 commented on #270
I haven't gotten a chance to sit with it for the last two days but I got a lot of work hacking away at NodeOS and can now inject files right into a NodeOS workspace so I'm going to attempt to jet Mesa right into my NodeOS set up and see if I can get it going. I'll also try jetting gcc (probably g++) in there too while I'm at it to test how NodeOS handles it.

[2016-07-12 06:03] piranna commented on #270
How have you done it?
El 12/7/2016 3:54, "Lite McFish" <notifications@github.com> escribió:

[2016-07-12 07:23] SpaceboyRoss01 opened #275 "Grub2 Disk Image"
Hey, I've been working on an os using NodeOS and I want to make a disk image. So far, I am having troubles loading in the usersfs file. Can anyone help me?

[2016-07-12 07:59] piranna commented on #275
bin/installUsb
El 12/7/2016 9:23, "SpaceboyRoss01" <notifications@github.com> escribió:

[2016-07-12 08:02] SpaceboyRoss01 commented on #275
I am using a prebuilt image.

[2016-07-12 08:08] piranna commented on #275
Iso images should be able to be burn directly.
El 12/7/2016 10:02, "SpaceboyRoss01" <notifications@github.com> escribió:

[2016-07-12 08:28] SpaceboyRoss01 commented on #275
I'm using the qemu prebuilt image.

[2016-07-12 08:37] piranna commented on #275
What problems are you having?
El 12/7/2016 10:28, "SpaceboyRoss01" <notifications@github.com> escribió:

[2016-07-12 08:41] SpaceboyRoss01 commented on #275
I can't find the usersfs file.

[2016-07-12 08:54] luii commented on #275
Is the usersfs file not present or does it print just a message that it cant find the usersfs

[2016-07-12 15:55] SpaceboyRoss01 commented on #275
It can't find it, but the file exists on the disk image.

[2016-07-14 07:57] lite20 commented on #270
Yeah I did get Mesa on. G++ was however taking a billions years to compile and I couldn't finish. I'm now working on creating a simple binary using OpenGL to inject into NodeOS and test if Mesa works

[2016-07-14 07:58] lite20 commented on #275
If it asks you to enter a path, used /dev/sdb2

[2016-07-14 08:38] piranna commented on #275
We need to fid some way to make nodeos-mount-filesystems to detect them by
partuuid...
El 14/7/2016 9:58, "Lite McFish" <notifications@github.com> escribió:

[2016-07-14 08:39] piranna commented on #270
That's cool :-) In case of doubts, take a look how it's done on Linux From
Scratch.
El 14/7/2016 9:57, "Lite McFish" <notifications@github.com> escribió:

[2016-07-15 09:40] piranna commented on #273
Hi @sbuller, did you get any chance to take a look on this, or was `nodeos-barebones` useful to you? If you have any question don't doubt to ask.

[2016-07-15 19:02] sbuller commented on #273
I'm still poking around. I feel like I'm getting close to having something that does what I need.

[2016-07-15 19:40] piranna commented on #261
GitBlog is a static webapp that uses GitHub API to fetch issues with the tag `blog` as blog entries.

[2016-07-15 20:14] piranna commented on #273
I have described a possible solution at https://github.com/NodeOS/nodeos-initramfs/issues/4, tell me if we have some points in common here.

[2016-07-16 01:16] shauncjones opened #276 "Autolaunch"
Hello, I am wondering how I could make NodeOS install a NPM package on first run, and then run the package everytime it is turned on afterwards?

[2016-07-16 10:33] piranna commented on #276
Do you want to exec just and only that package?
El 16/7/2016 3:16, "shauncjones" <notifications@github.com> escribió:

[2016-07-16 15:41] shauncjones commented on #276
Yes, that package everytime the system starts up.

[2016-07-16 21:38] piranna commented on #276
Seems to be related to https://github.com/NodeOS/NodeOS/issues/273, that's being studied at https://github.com/NodeOS/nodeos-initramfs/issues/4. I've also [open a bountysource](https://www.bountysource.com/issues/36069302-add-singleuser-build-option) for it.

[2016-07-17 07:57] lite20 commented on #261
Anyone make any progress on the Blog designs? Just checking! I've been very busy lately too so it's alright if you are also!

[2016-07-17 07:58] lite20 commented on #270
@piranna good suggestion! I've bee super busy but hopefully I'll get to play with this on Monday.

[2016-07-17 07:59] lite20 commented on #275
partuuid...

Create a new thread?

[2016-07-17 08:28] piranna commented on #275
by

For example... I have been searching a bit and udev makes it plainly simple
because adds some symlinks on /dev from the partuuid to the actual device,
but udev is too complex for the scheme we want for NodeOS. On /proc didn't
found anything useful, just only /proc/partitions but don't have any UUID
info, don't know if there would be some more luck on /sys... :-/

[2016-07-22 07:49] AkiraLaine commented on #261
@lite20 Hey! Sorry for the long delay. My laptop was not usable and I'm pretty busy and will be even more from next week. I haven't been able to work on the blog at all, if someone else wants to chime in, please feel free.

[2016-07-24 12:23] piranna commented on #67
I've found a temporal hack to workaround the problem on Node.js about stdio and I've got some progress on `nsh`, so now it's mostly usable. I will continue improving it and working on automate the NodeOS updates, but for me, the `git` client is just the last block needed to release the final 1.0 version :-)

(Or at least a frozen RC3 to give the opportunity to fix the last tiny bits that would sur

[2016-07-24 19:20] lite20 commented on #261
@AkiraLaine that's okay! I'll pick up after my vacation

[2016-07-28 14:19] kskarthik opened #277 "B2G OS needs your help !"
Hello! I'm from [B2G OS](https://developer.mozilla.org/en-US/docs/Mozilla/B2G_OS) Communications. As you all know Mozilla handed over smart phone code development to it's community. Since then, we are working hard to make the project come live again. In this process, we don't have people to handle gecko. B2G OS relies on standard web APIs. I recently came across this project & it's cool & you are

[2016-07-28 14:29] piranna commented on #277
Hi @kskarthik, good to know Mozilla is trying to retake FirefoxOS, it was a cool project! :-D What kind of problems are you having? How do you think NodeOS volunteers or directly NodeOS project can help you? :-)

On the other side, Mozilla can help us too to bring a web rendering engine to NodeOS so we can have a local UI... ;-)

[2016-07-28 14:33] kskarthik commented on #277
Hello! @piranna Mozilla isn't helping us, Community is maintaining the smartphone part. Mozilla moved to connected devices. We need guys who have C++ knowledge & can understand gecko.

Regarding the UI, we have gaia already which is quiet useful for you. I don't know how spider monkey & nodejs can co exist

[2016-07-28 14:36] Coretool commented on #277
@kskarthik I think there is a project that delivers SpiderMonkey with the node APIs but I'm not sure !

Do you have a working GUI ?

[2016-07-28 14:36] kskarthik commented on #277
Yes.

[2016-07-28 14:39] Coretool commented on #277
The project is called [spidernode](https://github.com/zpao/spidernode) It about 5 years since the last commit, so it's pretty outdated...

[2016-07-28 14:39] kskarthik commented on #277
@Coretool you can see this discussion https://discourse.mozilla-community.org/t/fixed-some-bugs-in-gaia-master/9967/7

[2016-07-28 14:41] Coretool commented on #277
I've looked at Gecko in the past so I'm maybe able to help a bit, but I don't what your problem is / where you need help...

[2016-07-28 14:43] kskarthik commented on #277
@Coretool here https://discourse.mozilla-community.org/t/help-needed-gecko-build-is-broken/9810/1

[2016-07-28 14:45] piranna commented on #277
Ok, I see. That's the part mostly surprised me, because I read about that topic.

It would be interesting to see Gaia running on top of NodeOS, but what we need is a web engine :-P Gecko or Rust would be some options if they can use the Linux framebuffer (or better, someone help us to use hardware acceleration).

No problem, NodeOS architecture for graphical apps has dictated a long time ago that

[2016-07-28 14:46] kskarthik commented on #277
@piranna  gaia is more simple right now. totally moved to  new architecture https://github.com/mozilla-b2g/gaia/tree/kanikani Will soon be merged into master branch

[2016-07-28 14:50] Coretool commented on #277
@kskarthik This error/bug over at bugzilla, is it in the latest version of Gecko ?

[2016-07-28 14:50] kskarthik commented on #277
yes

[2016-07-28 14:52] Coretool commented on #277
So if I built gecko, I would hit it ? (I just don't want to build Gecko for nothing, that's why I ask)

[2016-07-28 14:55] kskarthik commented on #277
that bug was resolved.Please read this announcement https://discourse.mozilla-community.org/t/help-getting-the-basic-functionality-for-the-smart-phone-ready/9928

We need help from gecko side but i'm not sure what it is. AFAIK we need to implement some standard web API's Please contact @lissyx & @benfrancis on discourse. They are very happy to take help & they know far better than me. @lissyx is h

[2016-07-28 15:08] Coretool commented on #277
Done ;) Hope I can help.

[2016-07-28 15:09] kskarthik commented on #277
Thanks a lot !

[2016-07-28 15:12] Coretool commented on #277
Well, I hope I can use Gecko for noGUI (our GUI project) ^^

[2016-07-28 15:16] kskarthik commented on #277
Let's co-operate with each other & reach our goal :smiley: SYMBIOSIS

[2016-07-28 17:51] lite20 commented on #277
Oh this looks interesting! If I wasn't drowning in work I'd pitch in but right now isn't an ideal time for me unfortunately. Good luck guys!

[2016-07-28 21:59] lapineige commented on #277
Hi NodeOS team :)
(I'm coming from the B2G community too)

I just discovered your project thanks to @kskarthik.
Indeed it would be nice if both project could benefit mutually.
If I understand well, you are researching a solution for your rendering engine ? Could Gecko handle that for you ?

We are also using a Linux/Android kernel (+ HAL) as an interface with the hardware (the whole part is called

[2016-07-28 22:33] Coretool commented on #277
We are / I am very interested in Gecko. We would need it to render to the LinuxFB, I guess...